<app-mat-cart [title]="'الربح الإجمالي'"></app-mat-cart>
<app-mat-cart [title]="'الربح الصافي للشركة'"></app-mat-cart>
<app-mat-cart [title]="'الربح السائقين الصافي'"></app-mat-cart>

<div class="best-group x-font-regular">
    <mat-card>
        <mat-card-header>
            <div class="title">أفضل سائق</div>
        </mat-card-header>
        <mat-divider></mat-divider>
        <div class="best-container">
            <div class="best-driver">
                <div class="best-driver-content">
                    <h5>عدد الرحلات</h5>
                    <p>56</p>
                </div>
                <div class="icon">
                    <mat-icon class="people">people</mat-icon>
                </div>
            </div>
            <div class="num-of-hours">
                <div class="num-of-hoursr-content">
                    <h5>عدد الساعات</h5>
                    <p>8</p>
                </div>
                <div class="icon">
                    <mat-icon class="gift">card_giftcard</mat-icon>
                </div>
            </div>
        </div>

    </mat-card>
    <mat-card>
        <mat-card-header>
            <div class="title">العملاء الجدد</div>
        </mat-card-header>
        <mat-divider></mat-divider>
        <div class="new-clients">
            <div class="new-clients-content">
                <h5>العملاء الجدد</h5>
                <p>48</p>
            </div>
            <div class="icon">
                <mat-icon class="people">people</mat-icon>
            </div>
        </div>
    </mat-card>
</div>