<div class="main_dashboard x-font-regular d-flex align-items-start flex-column w-100">
  <div class="map-container w-100">
    <app-map-dashboard class="w-100"></app-map-dashboard>
  </div>
  <!-- <h3 class="x-font-bold mb-3">إحصائيات الأرباح</h3>
  <div class="filter_div d-flex align-items-center">
    <h6 class="x-font-bold ms-3">يمكنك الفلترة حسب مجال معين</h6>
    <mat-form-field appearance="fill">
      <mat-label>أدخل المجال</mat-label>
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date">
        <input matEndDate formControlName="end" placeholder="End date" (dateChange)="dateRangeChange()">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>

      <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
      <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
    </mat-form-field>
  </div> -->
  <!-- <div class="jay_taxi_table w-100">
    <div class="table_div d-flex flex-column align-items-center">
      <table class="table">
        <thead class="x-font-bold">
          <th width="35%"></th>
          <th width="35%">
            اليوم
          </th>
          <th width="35%" *ngIf="range && range.value && range.value.start && range.value.end">
            <div class="d-flex flex-column align-items-center">
              من {{range.value.start | date:'MMM d, y'}}
              إلى {{range.value.end | date:'MMM d, y'}}
            </div>
          </th>
        </thead>
        <tbody>
          <tr>
            <td>إجمالي الرحلات</td>
            <td *ngIf="range && range.value && range.value.start && range.value.end && values">{{values.totalProfit}}
            </td>
            <td>{{total.totalProfit}}</td>
          </tr>
          <tr>
            <td>الربح الصافي للشركة</td>
            <td *ngIf="range && range.value && range.value.start && range.value.end && values">
              {{values.netProfitCompany}}</td>
            <td *ngIf="total">{{total.netProfitCompany}}</td>
          </tr>

          <tr>
            <td>الربح الصافي للسائقين</td>
            <td *ngIf="range && range.value && range.value.start && range.value.end && values">
              {{values.netProfitDriver}}</td>
            <td *ngIf="total">{{total.netProfitDriver}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> -->
</div>
