<div class="view-client-details">
  <form class="row" [formGroup]="profile">
    <div class="form-item col-4">
      <mat-form-field class="example-full-width w-100">
        <mat-label>الاسم</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
    </div>
    <div class="form-item col-4">
      <mat-form-field class="example-full-width w-100">
        <mat-label>رقم الموبايل</mat-label>
        <input matInput formControlName="mobile">
      </mat-form-field>
    </div>
    <div class="form-item col-4">
      <mat-form-field class="example-full-width w-100">
        <mat-label>عدد الرحلات</mat-label>
        <input matInput type="number" formControlName="tripsNum">
      </mat-form-field>
    </div>
  </form>
  <div class="d-flex flex-column align-items-center mt-5 w-100">
        <div class="d-flex align-items-center">
          <!-- <button class="btn t_btn_blue w-40 ms-2 me-2">
            تأكيد
          </button> -->
          <button class="btn t_btn_blue_outline w-40 ms-2 me-2" [routerLink]="['/clients']" routerLinkActive="router-link-active" >
            عودة إلى القائمة
          </button>
        </div>
      </div>
</div>
