
<div class="back-button x-font-regular ">
    <button class="activateButton" routerLink="/trips"
    mat-raised-button><mat-icon>arrow_back</mat-icon></button>
</div>

<div class="main-container x-font-regular ">
    <div class="trip-info">
        <div class="trip-info-item">
            <span>تاريخ إنشاء الرحلة&#58; </span>
            <span>2022-10-22</span>
        </div>
        <div class="trip-info-item">
            <span>وقت إنشاء الرحلة&#58; </span>
            <span>10:55</span>
        </div>
        <div class="trip-info-item">
            <span>موقع الإنطلاق&#58; </span>
            <span>Empty</span>
        </div>
        <div class="trip-info-item">
            <span>موقع الوجهة&#58; </span>
            <span>Empty</span>
        </div>
        <div class="trip-info-item">
            <span>موقع الإنطلاق&#58; </span>
            <span>Empty</span>
        </div>
        <div class="trip-info-item">
            <span>موقع الوجهة&#58; </span>
            <span>Empty</span>
        </div>
        <div class="trip-info-item">
            <span>تاريخ بداية الرحلة&#58; </span>
            <span>Empty</span>
        </div>
        <div class="trip-info-item">
            <span>تاريخ نهاية الرحلة&#58; </span>
            <span>Empty</span>
        </div>
        <div class="trip-info-item">
            <span>اسم السائق&#58; </span>
            <span>Empty</span>
        </div>
    </div>
    <div class="trip-image">
        <img src="../../../../assets/img/taxi.jpg" alt="taxi Jai">
    </div>
</div>