
.trip-info {
    width: 55%;
}

.trip-info-item span:first-child {
    font-size: 18px;
    font-weight: 500;
    margin-right: 1.5rem;
    margin-left: 0.5rem;
}

.trip-info-item span:last-child {
    font-size: 16px;
    font-weight: 400;
}

.trip-info-item span:first-child,
.trip-info-item span:last-child {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.trip-image {
    width: 44%
}

.trip-image img {
    width: 100%;
}

