<div class="d-flex justify-content-end w-100  x-font-regular ">
    <button class="btn t_btn_blue small_btn " routerLink="/trips"><mat-icon>arrow_back</mat-icon></button>
</div>

<div class="d-flex flex-wrap justify-content-between align-items-center x-font-regular">
    <div class="d-flex flex-column trip-info">
        <div class="d-flex trip-info-item">
            <span>تاريخ إنشاء الرحلة&#58; </span>
            <span>2022-10-22</span>
        </div>
        <div class="d-flex trip-info-item">
            <span>وقت إنشاء الرحلة&#58; </span>
            <span>10:55</span>
        </div>
        <div class="d-flex trip-info-item">
            <span>موقع الإنطلاق&#58; </span>
            <span>Empty</span>
        </div>
        <div class="d-flex trip-info-item">
            <span>موقع الوجهة&#58; </span>
            <span>Empty</span>
        </div>
        <div class="d-flex trip-info-item">
            <span>موقع الإنطلاق&#58; </span>
            <span>Empty</span>
        </div>
        <div class="d-flex trip-info-item">
            <span>موقع الوجهة&#58; </span>
            <span>Empty</span>
        </div>
        <div class="d-flex trip-info-item">
            <span>تاريخ بداية الرحلة&#58; </span>
            <span>Empty</span>
        </div>
        <div class="d-flex trip-info-item">
            <span>تاريخ نهاية الرحلة&#58; </span>
            <span>Empty</span>
        </div>
        <div class="d-flex trip-info-item">
            <span>اسم السائق&#58; </span>
            <span>Empty</span>
        </div>
    </div>
    <div class="trip-image">
        <img src="../../../../assets/img/taxi.jpg" alt="taxi Jai">
    </div>
</div>