<div class="drivers_list x-font-regular">
  <div class="row mb-5">
    <div class="col-6 d-flex align-items-center">
      <button class="btn t_btn_blue w-30" (click)="addDiscountCode()">
        إضافة كود حسم +
      </button>
    </div>
  </div>
  <div class="jay_taxi_table">
    <div class="table_div d-flex flex-column align-items-center">
      <table class="table">
        <thead class="x-font-bold">
          <th>اسم الكوبون </th>
          <th>كود الحسم </th>
          <th>قيمة الحسم</th>
          <th width="15%">عدد مرات استخدام الكوبون</th>
          <th width="15%">العدد الأعظمي لإستخدام الكوبون</th>
          <th>تاريخ إنتهاء الصلاحية</th>
          <th>تفعيل الكود</th>
          <th></th>
        </thead>
        <tbody>
          <tr *ngFor="let item of discountCodes">
            <td>{{item.name}}</td>
            <td>{{item.code}}</td>
            <td>{{item.value}}</td>
            <td>{{item.usageCount}}</td>
            <td>{{item.maxUsageCount}}</td>
            <td>{{item.expirationDate}}</td>
            <td>
              <container-element [ngSwitch]="item.isActive">
                <span class="status discount_code_active_status py-1"
                  *ngSwitchCase="discountCodeStatusEnum.active">إلغاء التفعيل</span>
                <span class="status inactive_status py-1" *ngSwitchCase="discountCodeStatusEnum.inActive">تفعيل</span>
              </container-element>
            </td>
            <td>
              <div class="d-flex align-items-center w-fit-content">
                <mat-icon class="red cursor" (click)="confirmDelete(item.id)">delete</mat-icon>
                <mat-icon class="cursor" (click)="edit(item)">edit</mat-icon>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="load_more_div w-100 d-flex flex-column align-items-center x-font-bold">
    <button class="btn t_btn_blue_outline w-25" (click)="loadMore()">
      تحميل المزيد
    </button>
  </div>
</div>
