<div class="driver_profile">
  <div class="wizard d-flex align-items-start justify-content-center x-font-bold">
    <div class="tab" (click)="activeTab = ActiveProfileTabEnum.personal">
      <div class="text">معلومات السائق</div>
      <hr *ngIf="activeTab == ActiveProfileTabEnum.personal" />
    </div>
    <div class="tab" (click)="activeTab = ActiveProfileTabEnum.vehicle">
      <div class="text">معلومات السيارة</div>
      <hr *ngIf="activeTab == ActiveProfileTabEnum.vehicle" />
    </div>
  </div>
  <form class="content" [formGroup]="driverProfile">
    <app-driver-profile-personal-info  *ngIf="activeTab == ActiveProfileTabEnum.personal">
    </app-driver-profile-personal-info>
    <app-driver-profile-vehicle-info *ngIf="activeTab == ActiveProfileTabEnum.vehicle">
    </app-driver-profile-vehicle-info>
  </form>
  <div class="save_btn w-100 d-flex flex-column align-items-center justify-content-center mt-5">
    <div class="d-flex align-items-center">
      <button class="btn t_btn_blue ms-1 me-1 x-font-bold w-30" (click)="save()">
        حفظ التعديل
      </button>
      <button class="btn t_btn_blue_outline x-font-bold ms-1 me-1 w-30" [routerLink]="['/drivers']"
        routerLinkActive="router-link-active">
        إلغاء
      </button>
    </div>
  </div>
</div>
