<form (ngSubmit)="onSubmit()" [formGroup]="addNewCityForm"
  class="modal-form py-5 px-3 d-flex flex-wrap justify-content-center">
  <div class="content-form d-flex flex-coulmn align-items-center flex-wrap">
    <div class=" row w-100 d-flex align-items-center justify-content-between">
      <div class="col-3 form-item">
        <mat-form-field class="example-full-width">
          <mat-label>اسم المحافظة بالعربي</mat-label>
          <input matInput name="cityNameInArabic" formControlName="cityNameInArabic">
          <mat-error *ngIf="addNewCityForm.controls.cityNameInArabic.invalid">{{getErrorRequiredMessage()}}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-3 form-item">
        <mat-form-field class="example-full-width">
          <mat-label>اسم المحافظة بالانجليزي</mat-label>
          <input matInput name="cityNameInEnglish" formControlName="cityNameInEnglish">
          <mat-error *ngIf="addNewCityForm.controls.cityNameInEnglish.invalid">{{getErrorRequiredMessage()}}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="file-input col-3 d-flex flex-column align-items-center justify-content-start mb-1">
        <input type="file" id="file" class="file" name="cityPhoto"
          (change)="onSelectedFile($event)">
        <label for="file">
          اختر صورة المحافظة
          <p class="file-name"></p>
        </label>
      </div>
    </div>
    <div class="w-100 d-flex flex-wrap mt-3">
      <label class="w-100 main-label">كلفة وصول السائق للزبون من أجل المسافات :</label>
      <mat-label class="w-100 second-label mt-3 mb-2">المجال الأول:</mat-label>
      <div class="d-flex w-100 justify-content-between align-items-center">
        <mat-form-field class="rangeValue">
          <input matInput name="firstValueInRangeOne" formControlName="firstValueInRangeOne"
            placeholder="القيمة الأولى">
          <mat-error *ngIf="addNewCityForm.controls.firstValueInRangeOne.invalid">
            {{getErrorRequiredMessage()}}</mat-error>
        </mat-form-field>
        -
        <mat-form-field class="rangeValue">
          <input matInput name="secondValueInRangeOne" formControlName="secondValueInRangeOne"
            placeholder="القيمة الثانية">
          <mat-error *ngIf="addNewCityForm.controls.secondValueInRangeOne.invalid">
            {{getErrorRequiredMessage()}}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="w-100 d-flex flex-wrap">
      <mat-label class="w-100 second-label mt-3 mb-2">المجال الثاني:</mat-label>
      <div class="w-100 d-flex justify-content-between align-items-center">
        <mat-form-field class="rangeValue">
          <input matInput name="firstValueInRangeTwo" formControlName="firstValueInRangeTwo" placeholder="القيمة الأولى"
            placeholder="{{this.addNewCityForm.controls.secondValueInRangeOne.value? this.addNewCityForm.controls.secondValueInRangeOne.value : ''}}">
        </mat-form-field>
        -
        <mat-form-field class="rangeValue">
          <input matInput name="secondValueInRangeTwo" formControlName="secondValueInRangeTwo"
            placeholder="القيمة الثانية">
          <mat-error *ngIf="addNewCityForm.controls.secondValueInRangeTwo.invalid">
            {{getErrorRequiredMessage()}}</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="save_btn w-100 d-flex flex-column align-items-center justify-content-center mt-3">
    <div class="d-flex align-items-center">
      <button class="btn t_btn_blue ms-1 me-1 x-font-bold w-30">
        {{data? 'حفظ التعديل': 'إضافة'}}
      </button>
      <button class="btn t_btn_blue_outline x-font-bold ms-1 me-1 w-30" (click)="cancel()">
        إلغاء
      </button>
    </div>
  </div>
</form>
