@import 'src/app/shared/styles/variables';

.class-header,
.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vehicle-classification-settings {
  .t_btn_blue {
    height: fit-content;
  }

  .image-container {
    margin-bottom: 2rem;
  }

  .class-header h2 {
    color: var(--main-bg-color);
    font-size: var(--large-font-size);
  }



  mat-label {
    font-size: 0.9rem !important;
  }

  .activateButton {
    color: #fff;
    background-color: var(--main-bg-color);
    border: none;
    border-radius: 5px;
    display: flex;
    padding: 0.3rem 0.4rem;
  }

  .activateButton mat-icon {
    margin: 0;
  }

  mat-form-field {
    width: 100%;
  }

  .head-item {
    width: 22%;
  }

  form img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
  }

  .user-img {
    position: relative;

  }

  .file-upload {
    position: absolute;
    bottom: 0;
    left: -8px;
    display: inline-block;
  }

  .file-upload__label {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 15px;
    font-weight: 600;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: $blue;
    transition: background-color .3s;

    &:hover {
      background-color: #1e1e1e;
    }
  }

  .file-upload__input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1px;
    width: 0;
    height: 100%;
    opacity: 0;
  }
}
