<div class="class-header x-font-regular ">
  <h2 *ngIf="pageTypeEnum.add == activePageType">إضافة تصنيف</h2>
  <h2 *ngIf="pageTypeEnum.edit == activePageType">تعديل تصنيف</h2>
  <h2 *ngIf="pageTypeEnum.view == activePageType">عرض تصنيف</h2>
  <div class="user-img">
    <img src="../../../assets/img/user.png" alt="user image">
  </div>
</div>

<div class="d-flex flex-wrap justify-content-center mt-4 mb-3 x-font-regular ">
  <form (ngSubmit)="onSubmit()" [formGroup]="generalFields" #myForm0="ngForm"
    class="w-100 d-flex flex-wrap justify-content-around">
    <div class="form-item col-3 w-30">
      <mat-form-field class="example-full-width">
        <mat-label>اسم التصنيف</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
    </div>

    <div class="form-item col-3 w-30">
      <mat-form-field class="example-full-width">
        <mat-label>عدد المقاعد</mat-label>
        <input matInput formControlName="numOfSites">
      </mat-form-field>
    </div>

    <div class="form-item col-3 w-30">
      <mat-form-field class="example-full-width">
        <mat-label>نسبة السائق بالمئة</mat-label>
        <input matInput formControlName="driverRatio">
      </mat-form-field>
    </div>
  </form>
</div>

<div class="d-flex flex-wrap justify-content-between mt-5 x-font-regular ">
  <div class="w-100 d-flex flex-column align-items-start day-rent-container">
    <h4 class="rent-header text-center x-font-bold mb-3">الأجور خلال الصباح</h4>
    <form (ngSubmit)="onSubmit()" [formGroup]="addNewMorningClassificationForm" class="row">
      <div class="form-item col-3">
        <mat-form-field class="example-full-width">
          <mat-label>أقل أجرة</mat-label>
          <input matInput name="lowestRent" formControlName="lowestRent">
          <mat-error *ngIf="addNewMorningClassificationForm.controls.lowestRent.invalid">{{getErrorRequiredMessage()}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-item col-3">
        <mat-form-field class="example-full-width">
          <mat-label>تكلفة الرحلة من أجل كل 1 كم</mat-label>
          <input matInput name="one_Km" formControlName="one_Km">
          <mat-error *ngIf="addNewMorningClassificationForm.controls.one_Km.invalid">{{getErrorRequiredMessage()}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-item col-3">
        <mat-form-field>
          <mat-label>وقت ابتداء الفترة </mat-label>
          <input matInput name="selected_time_A" formControlName="morningBegin" [ngxMatTimepicker]="pickerA" readonly />
          <mat-icon matSuffix (click)="pageTypeEnum.view == activePageType ? null : pickerA.open()">
            watch_later
          </mat-icon>
        </mat-form-field>
        <ngx-mat-timepicker #pickerA></ngx-mat-timepicker>
      </div>

      <div class="form-item col-3">
        <mat-form-field>
          <mat-label>وقت انتهاء الفترة </mat-label>
          <input matInput name="selected_time_A" formControlName="morningEnd" [ngxMatTimepicker]="pickerB" readonly />
          <mat-icon matSuffix (click)="pageTypeEnum.view == activePageType ? null : pickerB.open()">
            watch_later
          </mat-icon>
        </mat-form-field>
        <ngx-mat-timepicker #pickerB></ngx-mat-timepicker>
      </div>

      <h6 class="x-font-regular col-12">
        التكلفة الإضافية للمسافات التي يقطعها السائق ليصل للزبون يُضاف للفاتورة تكلفة حسب المجال
      </h6>
      <div class="form-item col-6">
        <mat-form-field class="example-full-width">
          <mat-label>
            التكلفة للمجال الأول
            <span>5 كم</span> - <span>9 كم</span>
          </mat-label>
          <input matInput name="firstExtraCost" formControlName="firstExtraCost">
          <mat-error *ngIf="addNewMorningClassificationForm.controls.firstExtraCost.invalid">
            {{getErrorRequiredMessage()}}</mat-error>
        </mat-form-field>
      </div>


      <div class="form-item col-6">
        <mat-form-field class="example-full-width">
          <mat-label>
            التكلفة للمجال الثاني
            <span>9 كم</span> - <span>15 كم</span>
          </mat-label> <input matInput name="secondExtraCost" formControlName="secondExtraCost">
          <mat-error *ngIf="addNewMorningClassificationForm.controls.secondExtraCost.invalid">
            {{getErrorRequiredMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <h6 class="x-font-regular col-12">
        من أجل كل 10 دقائق يتم إيقاف الرحلة فيها من قبل الزبون يُضاف للفاتورة
      </h6>
      <div class="form-item col-6">
        <mat-form-field class="example-full-width">
          <mat-label>الكلفة</mat-label>
          <input matInput name="ten_M" formControlName="ten_M">
          <mat-error *ngIf="addNewMorningClassificationForm.controls.ten_M.invalid">{{getErrorRequiredMessage()}}
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>

  <div class="w-100 d-flex flex-column align-items-start day-rent-container">
    <h4 class="rent-header text-center x-font-bold mb-3">الأجور خلال النهار</h4>
    <form (ngSubmit)="onSubmit()" [formGroup]="addNewDayClassificationForm" class="row">
      <div class="form-item col-3">
        <mat-form-field class="example-full-width">
          <mat-label>أقل أجرة</mat-label>
          <input matInput name="lowestRent" formControlName="lowestRent">
          <mat-error *ngIf="addNewDayClassificationForm.controls.lowestRent.invalid">{{getErrorRequiredMessage()}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-item col-3">
        <mat-form-field class="example-full-width">
          <mat-label>تكلفة الرحلة من أجل كل 1 كم</mat-label>
          <input matInput name="one_Km" formControlName="one_Km">
          <mat-error *ngIf="addNewDayClassificationForm.controls.one_Km.invalid">{{getErrorRequiredMessage()}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-item col-3">
        <mat-form-field>
          <mat-label>وقت ابتداء الفترة </mat-label>
          <input matInput name="selected_time_A" formControlName="dayBegin" [ngxMatTimepicker]="pickerC" readonly />
          <mat-icon matSuffix (click)="pageTypeEnum.view == activePageType ? null : pickerC.open()">
            watch_later
          </mat-icon>
        </mat-form-field>
        <ngx-mat-timepicker #pickerC></ngx-mat-timepicker>
      </div>
      <div class="form-item col-3">
        <mat-form-field>
          <mat-label>وقت انتهاء الفترة </mat-label>
          <input matInput name="selected_time_A" formControlName="dayEnd" [ngxMatTimepicker]="pickerD" readonly />
          <mat-icon matSuffix (click)="pageTypeEnum.view == activePageType ? null : pickerD.open()">
            watch_later
          </mat-icon>
        </mat-form-field>
        <ngx-mat-timepicker #pickerD></ngx-mat-timepicker>
      </div>
      <h6 class="x-font-regular col-12">
        التكلفة الإضافية للمسافات التي يقطعها السائق ليصل للزبون يُضاف للفاتورة تكلفة حسب المجال
      </h6>
      <div class="form-item col-6">
        <mat-form-field class="example-full-width">
          <mat-label>
            التكلفة للمجال الأول
            <span>5 كم</span> - <span>9 كم</span>
          </mat-label>
          <input matInput name="firstExtraCost" formControlName="firstExtraCost">
          <mat-error *ngIf="addNewDayClassificationForm.controls.firstExtraCost.invalid">
            {{getErrorRequiredMessage()}}</mat-error>
        </mat-form-field>
      </div>


      <div class="form-item col-6">
        <mat-form-field class="example-full-width">
          <mat-label>
            التكلفة للمجال الثاني
            <span>9 كم</span> - <span>15 كم</span>
          </mat-label> <input matInput name="secondExtraCost" formControlName="secondExtraCost">
          <mat-error *ngIf="addNewDayClassificationForm.controls.secondExtraCost.invalid">
            {{getErrorRequiredMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <h6 class="x-font-regular col-12">
        من أجل كل 10 دقائق يتم إيقاف الرحلة فيها من قبل الزبون يُضاف للفاتورة
      </h6>
      <div class="form-item col-6">
        <mat-form-field class="example-full-width">
          <mat-label>الكلفة</mat-label>
          <input matInput name="ten_M" formControlName="ten_M">
          <mat-error *ngIf="addNewDayClassificationForm.controls.ten_M.invalid">{{getErrorRequiredMessage()}}
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="w-100 d-flex flex-column align-items-start day-rent-container">
    <h4 class="rent-header text-center x-font-bold mb-3">الأجور خلال الليل</h4>
    <form (ngSubmit)="onSubmit()" [formGroup]="addNewNightClassificationForm" class="row">
      <div class="form-item col-3">
        <mat-form-field class="example-full-width">
          <mat-label>أقل أجرة</mat-label>
          <input matInput name="lowestRent" formControlName="lowestRent">
          <mat-error *ngIf="addNewNightClassificationForm.controls.lowestRent.invalid">{{getErrorRequiredMessage()}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-item col-3">
        <mat-form-field class="example-full-width">
          <mat-label>تكلفة الرحلة من أجل كل 1 كم</mat-label>
          <input matInput name="one_Km" formControlName="one_Km">
          <mat-error *ngIf="addNewNightClassificationForm.controls.one_Km.invalid">{{getErrorRequiredMessage()}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-item col-3">
        <mat-form-field>
          <mat-label>وقت ابتداء الفترة </mat-label>
          <input matInput name="selected_time_A" formControlName="nightBegin" [ngxMatTimepicker]="pickerE" readonly />
          <mat-icon matSuffix (click)="pageTypeEnum.view == activePageType ? null : pickerE.open()">
            watch_later
          </mat-icon>
        </mat-form-field>
        <ngx-mat-timepicker #pickerE></ngx-mat-timepicker>
      </div>
      <div class="form-item col-3">
        <mat-form-field>
          <mat-label>وقت انتهاء الفترة </mat-label>
          <input matInput name="selected_time_A" formControlName="nightEnd" [ngxMatTimepicker]="pickerF" readonly />
          <mat-icon matSuffix (click)="pageTypeEnum.view == activePageType ? null : pickerF.open()">
            watch_later
          </mat-icon>
        </mat-form-field>
        <ngx-mat-timepicker #pickerF></ngx-mat-timepicker>
      </div>


      <h6 class="x-font-regular col-12">
        التكلفة الإضافية للمسافات التي يقطعها السائق ليصل للزبون يُضاف للفاتورة تكلفة حسب المجال
      </h6>
      <div class="form-item col-6">
        <mat-form-field class="example-full-width">
          <mat-label>
            التكلفة للمجال الأول
            <span>5 كم</span> - <span>9 كم</span>
          </mat-label>
          <input matInput name="firstExtraCost" formControlName="firstExtraCost">
          <mat-error *ngIf="addNewNightClassificationForm.controls.firstExtraCost.invalid">
            {{getErrorRequiredMessage()}}</mat-error>
        </mat-form-field>
      </div>


      <div class="form-item col-6">
        <mat-form-field class="example-full-width">
          <mat-label>
            التكلفة للمجال الثاني
            <span>9 كم</span> - <span>15 كم</span>
          </mat-label> <input matInput name="secondExtraCost" formControlName="secondExtraCost">
          <mat-error *ngIf="addNewNightClassificationForm.controls.secondExtraCost.invalid">
            {{getErrorRequiredMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <h6 class="x-font-regular col-12">
        من أجل كل 10 دقائق يتم إيقاف الرحلة فيها من قبل الزبون يُضاف للفاتورة
      </h6>
      <div class="form-item col-6">
        <mat-form-field class="example-full-width">
          <mat-label>الكلفة</mat-label>
          <input matInput name="ten_M" formControlName="ten_M">
          <mat-error *ngIf="addNewNightClassificationForm.controls.ten_M.invalid">{{getErrorRequiredMessage()}}
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>

  <div class="x-font-bold row w-100 d-flex justify-content-center">
    <div class="col-6 d-flex justify-content-center" *ngIf="pageTypeEnum.view != activePageType">
      <button *ngIf="pageTypeEnum.add == activePageType" class="btn t_btn_blue_outline w-50">أضف</button>
      <button *ngIf="pageTypeEnum.edit == activePageType" class="btn t_btn_blue_outline w-50">حفظ</button>
    </div>
    <div class="col-6 d-flex justify-content-center">
      <button class="btn t_btn_blue w-50" routerLink="/vehicle-classification" routerLinkActive="router-link-active">
        عودة إلى القائمة
      </button>
    </div>
  </div>
</div>