<form [formGroup]="settingForm" class="d-flex flex-wrap align-items-center x-font-regular ">

  <div class="d-flex w-50 mb-4">
    <div class="icon-container d-flex justify-content-center align-items-start">
      <i class='bx bxl-facebook-circle' style="color: #00f;"></i>
    </div>
    <div class="content-container d-flex flex-column mt-1">
      <div class="form-group row d-flex flex-column">
        <label for="staticEmail" class="col-form-label lable">فيسبوك</label>
        <div>
          <input type="text" name="facebook" formControlName="facebook" class="form-control-plaintext lable-value"
            id="staticEmail">
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex w-50 mb-4">
    <div class="icon-container d-flex justify-content-center align-items-start">
      <i class='bx bxl-twitter' style="color: #00f;"></i>
    </div>
    <div class="content-container d-flex flex-column mt-1">
      <div class="form-group row d-flex flex-column">
        <label for="staticEmail" class="col-form-label lable">تويتر</label>
        <div>
          <input type="text" name="twitter" formControlName="twitter" class="form-control-plaintext lable-value"
            id="staticEmail">
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex w-50 mb-4">
    <div class="icon-container d-flex justify-content-center align-items-start">
      <i class='bx bxl-instagram' style="color: rgb(226, 43, 113);"></i>
    </div>
    <div class="content-container d-flex flex-column mt-1">
      <div class="form-group row d-flex flex-column">
        <label for="staticEmail" class="col-form-label lable">انستغرام</label>
        <div>
          <input type="text" name="instagram" formControlName="instagram" class="form-control-plaintext lable-value"
            id="staticEmail">
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex w-50 mb-4">
    <div class="icon-container d-flex justify-content-center align-items-start">
      <i class='bx bxl-whatsapp' style="color: #0f0;"></i>
    </div>
    <div class="content-container d-flex flex-column mt-1">
      <div class="form-group row d-flex flex-column">
        <label for="staticEmail" class="col-form-label lable">واتساب</label>
        <div>
          <input type="text" name="whatsapp" formControlName="whatsapp" class="form-control-plaintext lable-value"
            id="staticEmail">
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex w-50 mb-4">
    <div class="icon-container d-flex justify-content-center align-items-start">
      <i class='bx bx-phone-call' style="color: rgb(0, 110, 255);"></i>
    </div>
    <div class="content-container d-flex flex-column mt-1">
      <div class="form-group row d-flex flex-column">
        <label for="staticEmail" class="col-form-label lable">رقم الهاتف</label>
        <div>
          <input type="text" name="phone" formControlName="phone" class="form-control-plaintext lable-value"
            id="staticEmail">
        </div>
      </div>
    </div>
  </div>


  <div class="d-flex w-50 mb-4">
    <div class="icon-container d-flex justify-content-center align-items-start">
      <i class='bx bx-envelope' style="color: red;"></i>
    </div>
    <div class="content-container d-flex flex-column mt-1">
      <div class="form-group row d-flex flex-column">
        <label for="staticEmail" class="col-form-label lable">البريد الإلكتروني</label>
        <div>
          <input type="text" name="email" formControlName="email" class="form-control-plaintext lable-value"
            id="staticEmail">
        </div>
      </div>
    </div>
  </div>
  <div class="row w-100">
    <div class="form-item col-6">
      <mat-form-field class="w-100">
        <mat-label>وقت انتهاء الفترة الصباحية </mat-label>
        <input matInput name="selected_time_A" formControlName="morningEnd" [ngxMatTimepicker]="pickerB" [format]="24"
          readonly />
        <mat-icon matSuffix (click)="pageTypeEnum.Get== activePageType ? null : pickerB.open()">
          watch_later
        </mat-icon>
      </mat-form-field>
      <ngx-mat-timepicker #pickerB></ngx-mat-timepicker>
    </div>

    <div class="form-item col-6">
      <mat-form-field class="w-100">
        <mat-label>وقت انتهاء فترة النهار </mat-label>
        <input matInput name="selected_time_A" formControlName="dayEnd" [ngxMatTimepicker]="pickerD" [format]="24"
          readonly />
        <mat-icon matSuffix (click)="pageTypeEnum.Get == activePageType ? null : pickerD.open()">
          watch_later
        </mat-icon>
      </mat-form-field>
      <ngx-mat-timepicker #pickerD></ngx-mat-timepicker>
    </div>
  </div>


  <div class="row w-100">
    <div class="form-item col-6">
      <mat-form-field class="w-100">
        <mat-label>الغرامة عند الغاء الكابتن للرحلة</mat-label>
        <input matInput name="captainCancellationFine" formControlName="captainCancellationFine" />
      </mat-form-field>
    </div>

    <div class="form-item col-6">
      <mat-form-field class="w-100">
        <mat-label>الحد الأدنى لمحفظة الكابتن</mat-label>
        <input matInput name="minimumCaptainWallet" formControlName="minimumCaptainWallet" />
      </mat-form-field>
    </div>
  </div>
  <div class="row w-100">
    <div class="form-item col-6">
      <mat-form-field class="w-100">
        <mat-label>عدد الوصول للسائقين</mat-label>
        <input matInput name="minimumCountInRange" formControlName="minimumCountInRange" />
      </mat-form-field>
    </div>

    <div class="form-item col-6">
      <mat-form-field class="w-100">
        <mat-label>عدد دقائق الانتضار حتى تم الاستجابة على الطلب</mat-label>
        <input matInput name="orderNotRespondingWaitMinutes" formControlName="orderNotRespondingWaitMinutes" />
      </mat-form-field>
    </div>
  </div>

  <div class="row w-100">
    <div class="form-item col-6">
      <mat-form-field class="w-100">
        <mat-label>المجال الافتراضي</mat-label>
        <input matInput name="defaultZeroFeeRange" formControlName="defaultZeroFeeRange" />
      </mat-form-field>
    </div>
  </div>

  <div class="load_more_div w-100 d-flex flex-column align-items-center x-font-bold">
    <button class="btn t_btn_blue_outline w-25" (click)="edit()">
      تعديل
    </button>
  </div>
</form>