.best-group {
    display: flex;
    justify-content: space-between;
    height: 200px;

}

.best-group mat-card:first-child {
    width: 60%;
}

.best-group mat-card:last-child {
    width: 38%;
}

.best-container {
    display: flex !important;
    justify-content: space-between;
}

.best-driver,
.num-of-hours,
.new-clients {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.best-driver,
.num-of-hours {
    width: 45%;
}

.new-clients {
    width: 100%;
}

.best-driver-content,
.num-of-hours-content,
.new-clients-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.best-driver-content h5,
.num-of-hours h5,
.new-clients h5,
.best-driver-content p,
.num-of-hours p,
.new-clients p
{
    color: var(--main-color);
    font-weight: var(--small-font-weight);
    font-size: var(--large-font-size);
    text-align: center;
}


.icon {
    width: 50%;
    display: flex;
    justify-content: center;
}

.icon mat-icon {
    width: 60%;
    height: 60px;
    font-size: 60px;
}

.icon .people {
    color: var(--main-color);
}

.icon .gift {
    color: var(--gold-color);
}

mat-card {
    background-color: #eee;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.title {
    color: var(--title-color);
    width: 100% !important;
    text-align: center;
    padding-bottom: 10px;
    font-weight: var(--large-font-weight);
    font-size: var(--large-font-size);
}