<div class="view_profile x-font-regular">
  <div class="info">
    <div class="img_div row d-flex">
      <div class="image col-6">
        <mat-icon>person</mat-icon>
        <h1>Test</h1>
      </div>
      <div class="rating col-6">
          <div class="h-100 d-flex flex-column align-items-end justify-content-center">
            <div class="stars text-center">
              <mat-icon class="gold">star</mat-icon>
              <mat-icon class="gold">star</mat-icon>
              <mat-icon class="gold">star</mat-icon>
              <mat-icon>star</mat-icon>
              <mat-icon>star</mat-icon>
            </div>
          </div>
        </div>
    </div>
    <hr>
    <h6 class="mb-3 x-font-bold w-100 ">المعلومات الشخصية</h6>
    <div class="row">
      <div class="first_col col-lg-6 col-md-6 col-12">
        <div class="info d-flex align-items-center">
          <mat-icon>email</mat-icon>
          <div class="text">wael@gmail.com</div>
        </div>
        <div class="info mt-1 d-flex align-items-center">
          <mat-icon>stay_current_portrait</mat-icon>
          <div class="text">+963949394417</div>
        </div>
      </div>
      <div class="sec_col col-lg-6 col-md-6 col-12">
        <div class="info mt-1 d-flex align-items-center">
          <mat-icon>location_city</mat-icon>
          <div class="text">بغداد</div>
        </div>
        <div class="info mt-1 d-flex align-items-center">
          <mat-icon>calendar_today</mat-icon>
          <div class="text">12-8-2022</div>
        </div>
      </div>
    </div>
    <hr>
    <h6 class="mb-3 x-font-bold w-100 ">معلومات السيارة</h6>
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-6 key x-font-bold">نوع السيارة</div>
          <div class="col-6 val">مركبة صغيرة</div>
        </div>
        <div class="row mt-1">
          <div class="col-6 key x-font-bold">موديل السيارة</div>
          <div class="col-6 val">مازدا</div>
        </div>
      </div>
      <div class="col-6">
        <div class="row mt-1">
          <div class="col-6 key x-font-bold">لون السيارة</div>
          <div class="col-6 val">أحمر</div>
        </div>
        <div class="row mt-1">
          <div class="col-6 key x-font-bold">رقم السيارة</div>
          <div class="col-6 val">123456</div>
        </div>
      </div>
      </div>
  </div>
  <hr>
  <div class="assets x-font-bold">
    <h6 class="mb-3 x-font-bold w-100 ">مستندات المستخدم</h6>
    <div class="row">
      <div class="col-6">
        <div class="d-flex align-items-center asset">
          <div class="img_div">
            <img src="/assets/img/temp/id2.jpg">
          </div>
          <label>صورة الهوية (الوجه الأمامي)</label>
        </div>
        <div class="d-flex align-items-center asset">
          <div class="img_div">
            <img src="/assets/img/temp/id1.png">
          </div>
          <label>صورة رخصة القيادة (الوجه الأمامي)</label>
        </div>
        <div class="d-flex align-items-center asset">
          <div class="img_div">
            <img src="/assets/img/temp/id1.png">
          </div>
          <label>رخصة السيارة (الوجه الأمامي)</label>
        </div>
        <div class="d-flex align-items-center asset">
          <div class="img_div">
            <img src="/assets/img/temp/id1.png">
          </div>
          <label>لوحة السيارة</label>
        </div>
      </div>
      <div class="col-6">
        <div class="d-flex align-items-center asset">
          <div class="img_div">
            <img src="/assets/img/temp/id1.png">
          </div>
          <label>صورة الهوية (الوجه الخلفي)</label>
        </div>
        <div class="d-flex align-items-center asset">
          <div class="img_div">
            <img src="/assets/img/temp/id2.jpg">
          </div>
          <label>صورة رخصة القيادة (الوجه الخلفي)</label>
        </div>
        <div class="d-flex align-items-center asset">
          <div class="img_div">
            <img src="/assets/img/temp/id2.jpg">
          </div>
          <label>رخصة السيارة (الوجه الخلفي)</label>
        </div>
      </div>
    </div>
  </div>
  <!-- <hr>
  <div class="reviews">
    <div class="d-flex flex-column align-items-center">
      <h6 class="mb-3 x-font-bold w-100 text-center">تقييمات الزبائن </h6>
      <div class="w-100 stars text-center">
        لا يوجد تقييمات
      </div>
    </div>
  </div> -->
</div>
