<div class="view_profile x-font-regular" *ngIf="driver">
  <div class="info">
    <div class="img_div row d-flex">
      <div class="image col-6">
        <img [src]="driver.profileImageUrl">
        <mat-icon>person</mat-icon>
        <h1>{{driver.firstName}} {{driver.lastName}}</h1>
      </div>
      <div class="rating col-6" *ngIf="driver.averageRate">
        <div class="h-100 d-flex flex-column align-items-end justify-content-center">
          <div class="stars text-centerv d-flex align-items-center">
            <span>(driver.averageRate/5)</span>
            <ng-container *ngFor="let item of [].constructor(driver.averageRate)">
              <mat-icon class="gold">star</mat-icon>
            </ng-container>
            <ng-container *ngFor="let item of [].constructor(5 - driver.averageRate)">
              <mat-icon>star</mat-icon>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <h6 class="mb-3 x-font-bold w-100 ">المعلومات الشخصية</h6>
    <div class="row">
      <div class="first_col col-lg-6 col-md-6 col-12">
        <div class="info d-flex align-items-center">
          <mat-icon *ngIf="driver.gender == 1">male</mat-icon>
          <mat-icon *ngIf="driver.gender == 2">female</mat-icon>
          <div class="text" *ngIf="driver.gender == 1">ذكر</div>
          <div class="text" *ngIf="driver.gender == 2">أنثى</div>
        </div>
        <div class="info mt-1 d-flex align-items-center">
          <mat-icon>stay_current_portrait</mat-icon>
          <div class="text" dir="ltr">{{driver.phoneNumber}}</div>
        </div>
      </div>
      <div class="sec_col col-lg-6 col-md-6 col-12">
        <div class="info mt-1 d-flex align-items-center">
          <mat-icon>location_city</mat-icon>
          <div class="text">{{driver.provinceName}}</div>
        </div>
        <div class="info mt-1 d-flex align-items-center">
          <mat-icon>calendar_today</mat-icon>
          <div class="text">{{driver.creationTime | date:'YYYY/MM/dd HH:mm'}}</div>
        </div>
      </div>
    </div>
    <hr>
    <h6 class="mb-3 x-font-bold w-100 ">معلومات السيارة</h6>
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-6 key x-font-bold">نوع السيارة</div>
          <div class="col-6 val">{{driver.vehicleVehicleTypeName}}</div>
        </div>
        <div class="row mt-1">
          <div class="col-6 key x-font-bold">موديل السيارة</div>
          <div class="col-6 val">{{driver.vehicleModel}}</div>
        </div>
      </div>
      <div class="col-6">
        <div class="row mt-1">
          <div class="col-6 key x-font-bold">لون السيارة</div>
          <div class="col-6 val">{{driver.vehicleColor}}</div>
        </div>
        <div class="row mt-1">
          <div class="col-6 key x-font-bold">رقم السيارة</div>
          <div class="col-6 val">{{driver.vehiclePlateNumber}}</div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="assets x-font-bold">
    <h6 class="mb-3 x-font-bold w-100 ">مستندات المستخدم</h6>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3"
        *ngIf="driverProfile && driverProfile.value.licenseFrontImage && driverProfile.value.licenseFrontImage != ''">
        <app-upload-image [formGroup]="driverProfile" controlName="licenseFrontImage" isEnableToDelete="false"
          isEnableToSelect="false" deleteControlName="" path="/assets/img/temp/add-image.png"
          label="صورة رخصة القيادة (الوجه الأمامي)">
        </app-upload-image>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3"
        *ngIf="driverProfile && driverProfile.value.licenseBackImage && driverProfile.value.licenseBackImage != ''">
        <app-upload-image [formGroup]="driverProfile" controlName="licenseBackImage" isEnableToDelete="false"
          isEnableToSelect="false" deleteControlName="" path="/assets/img/temp/add-image.png"
          label="صورة رخصة القيادة (الوجه الخلفي)">
        </app-upload-image>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3"
        *ngIf="driverProfile && driverProfile.value.idFrontImage && driverProfile.value.idFrontImage != ''">
        <app-upload-image [formGroup]="driverProfile" controlName="idFrontImage" isEnableToDelete="false"
          isEnableToSelect="false" deleteControlName="deleteIdFrontImage" path="/assets/img/temp/add-image.png"
          label="صورة الهوية (الوجه الأمامي)">
        </app-upload-image>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3"
        *ngIf="driverProfile && driverProfile.value.idBackImage && driverProfile.value.idBackImage != ''">
        <app-upload-image [formGroup]="driverProfile" controlName="idBackImage" isEnableToDelete="false"
          isEnableToSelect="false" deleteControlName="deleteIdBackImage" path="/assets/img/temp/add-image.png"
          label="صورة الهوية (الوجه الخلفي)">
        </app-upload-image>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3"
        *ngIf="driverProfile && driverProfile.value.residenceocumentFrontImage && driverProfile.value.residenceocumentFrontImage != ''">
        <app-upload-image [formGroup]="driverProfile" controlName="residenceocumentFrontImage" isEnableToDelete="false"
          isEnableToSelect="false" deleteControlName="deleteResidenceCardFrontImage"
          path="/assets/img/temp/add-image.png" label="صورة سند السكن (الوجه الأمامي)">
        </app-upload-image>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3"
        *ngIf="driverProfile && driverProfile.value.residenceocumentBackImage && driverProfile.value.residenceocumentBackImage != ''">
        <app-upload-image [formGroup]="driverProfile" controlName="residenceocumentBackImage" isEnableToDelete="false"
          isEnableToSelect="false" deleteControlName="deleteResidenceCardBackImage"
          path="/assets/img/temp/add-image.png" label="صورة سند السكن (الوجه الخلفي)">
        </app-upload-image>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3"
        *ngIf="driverProfile && driverProfile.value.securityCardImage && driverProfile.value.securityCardImage != ''">
        <app-upload-image [formGroup]="driverProfile" controlName="securityCardImage" isEnableToDelete="false"
          isEnableToSelect="false" deleteControlName="deleteSecurityCardImage" path="/assets/img/temp/add-image.png"
          label="صورة البطاقة الأمنية (الوجه الأمامي)">
        </app-upload-image>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3"
        *ngIf="driverProfile && driverProfile.value.vehicleImage && driverProfile.value.vehicleImage != ''">
        <app-upload-image [formGroup]="driverProfile" controlName="vehicleImage" isEnableToDelete="false"
          isEnableToSelect="false" deleteControlName="" path="/assets/img/temp/add-image.png" label="صورة السيارة">
        </app-upload-image>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3"
        *ngIf="driverProfile && driverProfile.value.vehicleCarLicenseFrontImage && driverProfile.value.vehicleCarLicenseFrontImage != ''">
        <app-upload-image [formGroup]="driverProfile" controlName="vehicleCarLicenseFrontImage" isEnableToDelete="false"
          isEnableToSelect="false" deleteControlName="deleteResidenceCardFrontImage"
          path="/assets/img/temp/add-image.png" label="رخصة السيارة (الوجه الأمامي)"></app-upload-image>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3"
        *ngIf="driverProfile && driverProfile.value.vehicleCarLicenseBackImage && driverProfile.value.vehicleCarLicenseBackImage != ''">
        <app-upload-image [formGroup]="driverProfile" controlName="vehicleCarLicenseBackImage" isEnableToDelete="false"
          isEnableToSelect="false" deleteControlName="deleteResidenceCardBackImage"
          path="/assets/img/temp/add-image.png" label="رخصة السيارة (الوجه الخلفي)"></app-upload-image>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3"
        *ngIf="driverProfile && driverProfile.value.vehicleCarPlateImage && driverProfile.value.vehicleCarPlateImage != ''">
        <app-upload-image [formGroup]="driverProfile" controlName="vehicleCarPlateImage" isEnableToDelete="false"
          isEnableToSelect="false" deleteControlName="" path="/assets/img/temp/add-image.png" label="لوحة السيارة">
        </app-upload-image>
      </div>
    </div>
  </div>
</div>
