<div class="view_request_details x-font-regular">
  <div class="img_div">
    <div class="image">
      <mat-icon>person</mat-icon>
      <h1 class="x-font-bold">Test</h1>
    </div>
  </div>
  <div class="row body">
    <div class="first_col col-lg-6 col-md-6 col-12">
      <div class="info d-flex align-items-center">
        <mat-icon>email</mat-icon>
        <div class="text">wael@gmail.com</div>
      </div>
      <div class="info mt-1 d-flex align-items-center">
        <mat-icon>stay_current_portrait</mat-icon>
        <div class="text">+963949394417</div>
      </div>
      <div class="info mt-1 d-flex align-items-center">
        <mat-icon>calendar_today</mat-icon>
        <div class="text">12-8-2022</div>
      </div>
    </div>
    <div class="sec_col col-lg-6 col-md-6 col-12">
      <div class="row">
        <div class="col-6 key x-font-bold">نوع السيارة</div>
        <div class="col-6 val">مركبة صغيرة</div>
      </div>
      <div class="row mt-1">
        <div class="col-6 key x-font-bold">موديل السيارة</div>
        <div class="col-6 val">مازدا</div>
      </div>
      <div class="row mt-1">
        <div class="col-6 key x-font-bold">لون السيارة</div>
        <div class="col-6 val">أحمر</div>
      </div>
      <div class="row mt-1">
        <div class="col-6 key x-font-bold">رقم السيارة</div>
        <div class="col-6 val">123456</div>
      </div>
    </div>
  </div>
  <div class="view_driver_info_div x-font-bold w-100 d-flex flex-column align-items-center">
    <button class="btn t_btn_blue_outline w-50" (click)="viewAssets()">
      عرض أوراق السائق المرفقة مع الطلب
    </button>
  </div>
  <div class="accept_reject x-font-bold row">
    <div class="col-4 d-flex">
      <button class="btn t_btn_blue_outline" (click)="accept()">
        قبول
      </button>
    </div>
    <div class="col-4 d-flex">
      <button class="btn t_btn_blue_outline">
        رفض
      </button>
    </div>
    <div class="col-4 d-flex">
      <button class="btn t_btn_blue" [routerLink]="['/drivers-request']" routerLinkActive="router-link-active" >
        عودة إلى القائمة
      </button>
    </div>
  </div>
  <!-- <div class="accept_reject x-font-bold d-flex flex-column align-items-center w-100">
    
  </div> -->
</div>
