<div class="add_transfer">
  <form (ngSubmit)="onSubmit()" [formGroup]="addNewUserGroupForm" class="d-flex flex-wrap justify-content-center">
    <div class="row w-100 d-flex justify-content-center user-img">
      <div class="col-6 d-flex flex-column align-items-center justify-content-center">
        <app-add-image [dimension]="100" *ngIf="!id || (id&&addNewUserGroupForm.value.firstName)"
          [formGroup]="addNewUserGroupForm" controlName="image" [isEdit]="true"></app-add-image>
        <span>صورة</span>
      </div>
    </div>

    <div class="form-group">
      <div class="form-item">
        <mat-form-field class="example-full-width">
          <mat-label>الاسم</mat-label>
          <input matInput name="firstName" formControlName="firstName">
          <mat-error
            *ngIf="addNewUserGroupForm.controls.firstName.invalid && addNewUserGroupForm.controls.firstName.touched">
            {{getErrorRequiredMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="form-item">
        <mat-form-field class="example-full-width">
          <mat-label>الكنية</mat-label>
          <input matInput name="lastName" formControlName="lastName">
          <mat-error
            *ngIf="addNewUserGroupForm.controls.lastName.invalid && addNewUserGroupForm.controls.lastName.touched">
            {{getErrorRequiredMessage()}}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="form-group">
      <div class="form-item">
        <mat-form-field class="example-full-width">
          <mat-label>اسم المستخدم</mat-label>
          <input matInput name="userName" formControlName="userName">
          <mat-error
            *ngIf="addNewUserGroupForm.controls.userName.invalid && addNewUserGroupForm.controls.userName.touched">
            {{getErrorRequiredMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="form-item">
        <mat-form-field class="example-full-width">
          <mat-label>البريد الإلكتروني</mat-label>
          <input matInput name="email" formControlName="email">
          <mat-error *ngIf="addNewUserGroupForm.controls.email.invalid && addNewUserGroupForm.controls.email.touched">
            {{getErrorRequiredMessage()}}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="form-group">
      <div class="form-item">
        <mat-form-field class="example-full-width">
          <mat-label>رقم الموبايل</mat-label>
          <input matInput name="mobile" formControlName="mobile">
          <mat-error *ngIf="addNewUserGroupForm.controls.mobile.invalid && addNewUserGroupForm.controls.mobile.touched">
            {{getErrorRequiredMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="form-item">
        <mat-form-field appearance="fill">
          <mat-label>كلمة السر</mat-label>
          <input id="pass" class="form-control" matInput [type]="hide ? 'password' : 'text'" name="password"
            formControlName="password">
          <mat-error
            *ngIf="addNewUserGroupForm.controls.password.invalid && addNewUserGroupForm.controls.password.touched">
            {{getErrorRequiredMessage()}}</mat-error>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    <div class="form-group">
      <div class="form-item">
        <mat-form-field appearance="fill">
          <mat-label>الدور</mat-label>
          <mat-select name="type" formControlName="type">
            <mat-option *ngFor="let role of roles" [value]="role.name">{{role.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="addNewUserGroupForm.controls.type.invalid && addNewUserGroupForm.controls.type.touched">
            {{getErrorRequiredMessage()}}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="buttons w-75 mb-3 d-flex justify-content-center align-items-center">
      <button *ngIf="!selectedUser" type="submit"
        [disabled]="!addNewUserGroupForm.valid || addNewUserGroupForm.untouched" class="btn t_btn_blue w-25">إضافة
      </button>
      <button *ngIf="selectedUser" type="submit" (click)="edit()" class="btn t_btn_blue w-25">تعديل
      </button>
      <button type="button" class="btn t_btn_blue w-25" (click)="addNewUserGroupForm.reset()"
        routerLink="/dashboard-users">إلغاء
      </button>
    </div>
  </form>
</div>