@import 'src/app/shared/styles/variables';

.drivers_request {
    padding: 1rem;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    .load_more_div {
        margin-top: auto;
    }
    .user-name{
        img{
          max-width: 40px;
          max-height: 40px;
          width: auto;
          height: auto;
        }
      }
}
/*
::ng-deep .drivers_request {
    .mat-mdc-text-field-wrapper {
        background-color: white;
    }
}
*/