<div class="drivers_request x-font-regular">
  <div class="row">
    <div class="col-lg-3 col-sm-3 col-6">
      <mat-form-field>
        <mat-label>بحث</mat-label>
        <input matInput (keyup)="filter.skipCount=0;getDrivers();" [(ngModel)]="filter.filter" placeholder=" ابحث عن ما تريد" #input>
        <mat-icon matSuffix (click)="getDrivers()">search</mat-icon>
      </mat-form-field>
    </div>
    <div class="col-lg-3 col-sm-3 col-6">
      <mat-form-field appearance="fill">
        <mat-label>الحالة</mat-label>
        <mat-select name="status" [(ngModel)]="filter.status" (selectionChange)="filter.skipCount=0;getDrivers();">
          <mat-option [value]="driverRequestStatusEnum.Initial">Initial</mat-option>
          <mat-option [value]="driverRequestStatusEnum.Approved">Approved</mat-option>
          <mat-option [value]="driverRequestStatusEnum.Rejected">Rejected</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="jay_taxi_table">
    <div class="table_div d-flex flex-column align-items-center">
      <table class="table">
        <thead class="x-font-bold">
          <th>اسم المستخدم</th>
          <th>تاريخ إنشاء الحساب</th>
          <th>رقم الموبايل</th>
          <th>العمليات</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of drivers">
            <td>
              <div class="user-name d-flex align-items-center">
                <img [src]="item.profileImageUrl || 'assets/img/user.png'">
                <div class="me-2">{{item.name}}</div>
              </div>
            </td>
            <td>{{item.creationTime | date:'YYY/MM/dd'}}</td>
            <td dir="ltr">{{item.phoneNumber}}</td>
            <td [routerLink]="['/driver-request',item.id]" routerLinkActive="router-link-active">
              <mat-icon class="cursor">edit</mat-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="load_more_div w-100 d-flex flex-column align-items-center x-font-bold" *ngIf="!endOfResult">
    <button class="btn t_btn_blue_outline w-25" (click)="loadMore()">
      تحميل المزيد
    </button>
  </div>
</div>
