<div class="cancels_container x-font-regular p-3">
  <h4 class="title mb-5">أسباب إلغاء الرحلات</h4>
  <div class="d-flex flex-column align-items-center justify-content-center">
    <div class="jay_taxi_table w-100">
      <div class="table_div d-flex flex-column align-items-center">
        <table class="table">
          <thead class="x-font-bold">
            <th>السبب</th>
            <th>Reason</th>
            <th>عمليات</th>
            <th>إلغاء</th>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of reasons">
              <tr *ngIf="!item.deleted">
                <td>{{item.arReason}}</td>
                <td>{{item.reason}}</td>
                <td>
                  <div class="d-flex align-items-center w-fit-content cursor" (click)="fillToEdit(item)">
                    <mat-icon>edit</mat-icon>
                    <div>تعديل</div>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center w-fit-content red cursor" (click)="confirmDelete(item)">
                    <div>إلغاء تفعيل</div>
                  </div>
                </td>
              </tr>
            </ng-container>
            <tr *ngIf="!reasons || !reasons.length">
              <td colspan="4">لا يوجد نتائج</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="w-100 mt-5 d-flex flex-column align-items-center">
      <div class="w-100 d-flex flex-row align-items-center gap-5">
        <div class="w-50 mt-5 d-flex flex-column align-items-center">
          <label class="x-font-bold mb-2">إضافة سبب باللغة العربية</label>
          <div class="input_with_button d-flex align-items-center">
            <input class="form-control" [(ngModel)]="arabicCancleName" placeholder="السبب">
          </div>
        </div>
        <div class="w-50 mt-5 d-flex flex-column align-items-center">
          <label class="x-font-bold mb-2">إضافة سبب باللغة الانجليزية</label>
          <div class="input_with_button d-flex align-items-center">
            <input class="form-control english-input" [(ngModel)]="englishCancleName" placeholder="The reason">
          </div>
        </div>
      </div>
      <button class="btn t_btn_blue" (click)="onSubmit()"
        [disabled]="!arabicCancleName || arabicCancleName=='' || !englishCancleName || englishCancleName==''">
        <ng-container *ngIf="!editMode">إضافة</ng-container>
        <ng-container *ngIf="editMode">حفظ</ng-container>
      </button>
    </div>
  </div>
</div>
