<div class="cancels_container x-font-regular p-3">
  <h4 class="title mb-5">أسباب إلغاء الرحلات</h4>
  <div class="d-flex flex-column align-items-center justify-content-center">
    <div class="jay_taxi_table w-100">
      <div class="table_div d-flex flex-column align-items-center">
        <table class="table">
          <thead class="x-font-bold">
            <th>السبب</th>
            <th>Reason</th>
            <th></th>
          </thead>
          <tbody>
            <tr *ngFor="let item of reasons">
              <td>{{item.arReason}}</td>
              <td>{{item.reason}}</td>
              <td>
                <div class="d-flex align-items-center w-fit-content red cursor" (click)="confirmDelete(item.id)">
                  <mat-icon>delete</mat-icon>
                  <div>حذف</div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="w-100 mt-5 d-flex flex-column align-items-center">
      <div class="w-100 d-flex flex-row align-items-center gap-5">
        <div class="w-50 mt-5 d-flex flex-column align-items-center">
          <label class="x-font-bold mb-2">إضافة سبب باللغة العربية</label>
          <div class="input_with_button d-flex align-items-center">
            <input class="form-control" [(ngModel)]="arabicCancleName" placeholder="السبب">
          </div>
        </div>
        <div class="w-50 mt-5 d-flex flex-column align-items-center">
          <label class="x-font-bold mb-2">إضافة سبب باللغة الانجليزية</label>
          <div class="input_with_button d-flex align-items-center">
            <input class="form-control english-input" [(ngModel)]="englishCancleName" placeholder="The reason">
          </div>
        </div>
      </div>
      <button class="btn t_btn_blue" (click)="onSubmit()" [disabled]="!arabicCancleName || arabicCancleName=='' || !englishCancleName || englishCancleName==''">إضافة</button>
    </div>
  </div>
</div>
