<div class="notifications_list x-font-regular">
  <div class="row">
    <div class="col-6 d-flex align-items-center">
      <button class="btn t_btn_blue w-25" (click)="sendNotifications()">
        إضافة
      </button>
    </div>
    <div class="col"></div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-12 d-flex flex-column align-items-left">
      <mat-form-field>
        <mat-label>بحث</mat-label>
        <input matInput (keyup)="getNotifications()" [(ngModel)]="filter.searchWord" placeholder=" ابحث عن ما تريد" #input>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div class="jay_taxi_table">
    <div class="table_div d-flex flex-column align-items-center">
      <table class="table">
        <thead class="x-font-bold">
          <th>اسم المستخدم</th>
          <th>تاريخ الإرسال</th>
          <th>عنوان الرسالة</th>
          <th>محتوى الرسالة</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of notifications">
            <td>{{item.userName}}</td>
            <td>{{item.dateOfSend}}</td>
            <td>{{item.messageTitle}}</td>
            <td>{{item.messageContent}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="load_more_div w-100 d-flex flex-column align-items-center x-font-bold">
    <button class="btn t_btn_blue_outline w-25" (click)="loadMore()">
      تحميل المزيد
    </button>
  </div>
</div>
