<div class="add_notification">
  <form [formGroup]="notification">
    <div class="d-flex flex-column align-items-center">
      <mat-form-field>
        <mat-label>عنوان الرسالة</mat-label>
        <input matInput placeholder="عنوان الرسالة" #input name="messageTitle" formControlName="messageTitle">
        <mat-error *ngIf="notification.controls.messageTitle.invalid && notification.controls.messageTitle.touched">{{getErrorRequiredMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>محتوى الرسالة</mat-label>
        <textarea matInput placeholder="محتوى الرسالة " name="messageContent"
          formControlName="messageContent"></textarea>
          <mat-error *ngIf="notification.controls.messageContent.invalid && notification.controls.messageContent.touched">{{getErrorRequiredMessage()}}</mat-error>
      </mat-form-field>
      <!-- <mat-form-field appearance="fill">
          <mat-label>نوع المناقلة</mat-label>
          <mat-select>
            <mat-option>إيداع</mat-option>
            <mat-option>استرجاع</mat-option>
          </mat-select>
        </mat-form-field> -->

      <form class="d-flex align-items-center w-100 mt-3 mb-3" [formGroup]="notification.controls.filter">
        <div class="choice">
          <input type="checkbox" id="vehicle1" name="vehicle" formControlName="users" value="users">
          <label for="vehicle1">كل المستخدمين</label>
        </div>
        <div class="choice">
          <input type="checkbox" id="vehicle2" name="vehicle" formControlName="drivers" value="drivers">
          <label for="vehicle2">كل السائقين</label>
        </div>
        <div class="choice">
          <input type="checkbox" id="vehicle3" name="vehicle" formControlName="customers" value="customers">
          <label for="vehicle3">كل الزبائن</label>
        </div>
        <div class="choice">
          <input type="checkbox" id="vehicle4" name="vehicle" formControlName="specificUser" value="specificUser">
          <label for="vehicle4">مستخدمين معينين</label>
        </div>
      </form>

      <div class="add_cancel w-100 d-flex align-items-center x-font-bold">
        <button class="btn t_btn_blue w-25" (click)="sendMessage()">
          إرسال
        </button>
        <button class="btn t_btn_blue_outline w-25" (click)="cancle()">
          إلغاء
        </button>
      </div>
    </div>
  </form>
</div>