<div class="add_notification">
  <form [formGroup]="notification">
    <div class="d-flex flex-column align-items-center">
      <mat-form-field>
        <mat-label>عنوان الرسالة</mat-label>
        <input matInput placeholder="عنوان الرسالة" #input name="messageTitle" formControlName="messageTitle">
        <mat-error
          *ngIf="notification.controls.messageTitle.invalid && notification.controls.messageTitle.touched">{{getErrorRequiredMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>محتوى الرسالة</mat-label>
        <textarea matInput placeholder="محتوى الرسالة " name="messageContent"
          formControlName="messageContent"></textarea>
        <mat-error
          *ngIf="notification.controls.messageContent.invalid && notification.controls.messageContent.touched">{{getErrorRequiredMessage()}}</mat-error>
      </mat-form-field>
      <!-- <mat-form-field appearance="fill">
          <mat-label>نوع المناقلة</mat-label>
          <mat-select>
            <mat-option>إيداع</mat-option>
            <mat-option>استرجاع</mat-option>
          </mat-select>
        </mat-form-field> -->


      <mat-radio-group aria-label="Select an option" formControlName="targetType">
        <mat-radio-button id="vehicle1" name="vehicle" value="1">كل المستخدمين</mat-radio-button>
        <mat-radio-button id="vehicle2" name="vehicle" value="2">كل السائقين</mat-radio-button>
        <mat-radio-button id="vehicle3" name="vehicle" value="3">كل الزبائن</mat-radio-button>
      </mat-radio-group>


      <div class="add_cancel w-100 d-flex align-items-center x-font-bold">
        <button class="btn t_btn_blue w-25" (click)="sendMessage()">
          إرسال
        </button>
        <button class="btn t_btn_blue_outline w-25" (click)="cancle()">
          إلغاء
        </button>
      </div>
    </div>
  </form>
</div>