<div class="drivers_list x-font-regular">
  <div class="row d-flex align-items-center">
    <div class="col-lg-3 col-md-3 col-sm-6 col-12 d-flex flex-column align-items-start">
      <mat-form-field>
        <mat-label>بحث</mat-label>
        <input matInput (keyup)="filter.skipCount=0;getClients();" [(ngModel)]="filter.filter" #searchInput
          placeholder=" ابحث عن ما تريد" #input>
        <mat-icon matSuffix (click)="getClients()">search</mat-icon>
      </mat-form-field>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-6 col-12 d-flex flex-column align-items-end x-font-bold">
      عدد النتائج : {{resultCount}}
    </div>
  </div>
  <div class="jay_taxi_table">
    <div class="table_div d-flex flex-column align-items-center">
      <table class="table">
        <thead class="x-font-bold">
          <th> اسم المستخدم </th>
          <th>رقم الموبايل</th>
          <th>تاريخ إنشاء الحساب</th>
          <th>عدد الرحلات </th>
          <th>التقييم</th>
          <th>تفعيل الحساب</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of clients">
            <td>
              <div class="user-name d-flex align-items-center">
                <img [src]="item.profileImageUrl || 'assets/img/user.png'">
                <div class="me-2">{{item.name}}</div>
              </div>
            </td>
            <td>{{item.phoneNumber}}</td>
            <td>{{item.creationTime | date:'MM/dd HH:mm'}}</td>
            <td>{{item.tripCount}}</td>
            <td>{{item.rate ? item.rate.toFixed(1) : '-' }}</td>
            <td>
              <container-element [ngSwitch]="item.isActive">
                <span (click)="confirm(item)" class="status cursor active_status py-1"
                  *ngSwitchCase="accountStatusEnum.active">مفعل</span>
                <span (click)="confirm(item)" class="status cursor inactive_status py-1"
                  *ngSwitchCase="accountStatusEnum.inActive">غير
                  مفعل</span>
              </container-element>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="load_more_div w-100 d-flex flex-column align-items-center x-font-bold"
    *ngIf="!endOfResult && clients && clients.length">
    <button class="btn t_btn_blue_outline w-25" (click)="loadMore()">
      تحميل المزيد
    </button>
  </div>
</div>
