<div class="drivers_list x-font-regular">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-12 d-flex flex-column align-items-left">
            <mat-form-field>
                <mat-label>بحث</mat-label>
                <input matInput (keyup)="getClients()" [(ngModel)]="filter.searchWord" placeholder=" ابحث عن ما تريد"
                    #input>
            </mat-form-field>
        </div>
    </div>
    <div class="jay_taxi_table">
        <div class="table_div d-flex flex-column align-items-center">
            <table class="table">
                <thead class="x-font-bold">
                    <th> اسم المستخدم </th>
                    <th>رقم الموبايل</th>
                    <th>تاريخ إنشاء الحساب</th>
                    <th>عدد الرحلات </th>
                    <th>التقييم</th>
                    <th>رمز التفعيل </th>
                    <th>تفعيل الحساب</th>
                </thead>
                <tbody>
                    <tr *ngFor="let item of clients">
                        <td>{{item.userName}}</td>
                        <td>{{item.mobile}}</td>
                        <td>{{item.creationDate}}</td>
                        <td>{{item.NumOfTrips}}</td>
                        <td>{{item.eval}}</td>
                        <td>{{item.activatedCode}}</td>
                        <td>
                            <container-element [ngSwitch]="item.accountStatus">
                                <span class="status active_status py-1" *ngSwitchCase="accountStatusEnum.active">مفعل</span>
                                <span class="status inactive_status py-1" *ngSwitchCase="accountStatusEnum.inActive">غير
                                    مفعل</span>
                            </container-element>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="load_more_div w-100 d-flex flex-column align-items-center x-font-bold">
        <button class="btn t_btn_blue_outline w-25" (click)="loadMore()">
            تحميل المزيد
        </button>
    </div>
</div>
