<div class="add_transfer">
  <form [formGroup]="transfer">
    <div class="d-flex flex-column align-items-center">
      <mat-form-field appearance="fill">
        <mat-label>السائقين </mat-label>
        <mat-select name="drivers" formControlName="drivers">
          <mat-option value="one">wael</mat-option>
          <mat-option value="two">Omar</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>المبلغ</mat-label>
        <input matInput placeholder="المبلغ" name="amountOfMoney" formControlName="amountOfMoney" #input>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>نوع المناقلة</mat-label>
        <mat-select name="transactionType" formControlName="transactionType">
          <mat-option value="one">إيداع</mat-option>
          <mat-option value="two">استرجاع</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="add_cancel w-100 d-flex align-items-center x-font-bold">
        <button class="btn t_btn_blue w-25" (click)="add()">
          إضافة
        </button>
        <button class="btn t_btn_blue_outline w-25" matDialogClose>
          إلغاء
        </button>
      </div>
    </div>
  </form>
</div>
