<div class="add_transfer">
  <form [formGroup]="transfer">
    <div class="d-flex flex-column align-items-center">
      <mat-form-field appearance="fill">
        <mat-label>النوع</mat-label>
        <mat-select name="walletType" formControlName="walletType" (selectionChange)="onChangeType($event)">
          <mat-option value="3">زبائن</mat-option>
          <mat-option value="2">سائقين</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="clientsList.length !== 0" appearance="fill">
        <mat-label>اختر مستخدم</mat-label>
        <mat-select name="user" formControlName="user" (selectionChange)="onChangeSelection()">
          <mat-option>
            <ngx-mat-select-search formControlName="searchWord" (keyup)="getLiteListOfClients()"></ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let user of clientsList" [value]="user.id">{{user.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="captinList.length !== 0" appearance="fill">
        <mat-label>اختر مستخدم</mat-label>
        <mat-select name="user" formControlName="user">
          <mat-option>
            <ngx-mat-select-search formControlName="searchWord" (keyup)="getDriversList()" ></ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let user of captinList" [value]="user.id">{{user.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>المبلغ</mat-label>
        <input matInput placeholder="المبلغ" name="amountOfMoney" formControlName="amountOfMoney" #input>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>نوع المناقلة</mat-label>
        <mat-select name="type" formControlName="type">
          <mat-option value="1">إيداع</mat-option>
          <mat-option value="2">استرجاع</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="add_cancel w-100 d-flex align-items-center x-font-bold">
        <button class="btn t_btn_blue w-25" (click)="add()">
          إضافة
        </button>
        <button class="btn t_btn_blue_outline w-25" matDialogClose>
          إلغاء
        </button>
      </div>
    </div>
  </form>
</div>