<div class="add_transfer">
  <div class="d-flex flex-column">
    <h4 class="modal-title">إضافة كود تفعيل جديد</h4>
    <form (ngSubmit)="onSubmit()" [formGroup]="addDiscountForm" class="modal-form">
      <div class="row w-100 p-3">
        <div class="col-6 form-item">
          <mat-form-field class="example-full-width">
            <mat-label>اسم الكوبون</mat-label>
            <input matInput name="discountName" formControlName="discountName">
            <mat-error *ngIf="addDiscountForm.controls.discountName.invalid && addDiscountForm.controls.discountName.touched">{{getErrorRequiredMessage()}}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-6 form-item">
          <mat-form-field class="example-full-width">
            <mat-label>كود الحسم</mat-label>
            <input matInput name="discountCode" formControlName="discountCode">
            <mat-error *ngIf="addDiscountForm.controls.discountCode.invalid && addDiscountForm.controls.discountCode.touched">{{getErrorRequiredMessage()}}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-6 form-item">
          <mat-form-field class="example-full-width">
            <mat-label>عدد مرات استخدام الكوبون</mat-label>
            <input matInput name="usingTimes" formControlName="usingTimes">
            <mat-error *ngIf="addDiscountForm.controls.usingTimes.invalid && addDiscountForm.controls.usingTimes.touched">{{getErrorRequiredMessage()}}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-6 form-item">
          <mat-form-field appearance="fill">
            <mat-label>تاريخ إنتهاء الصلاحية</mat-label>
            <input matInput [matDatepicker]="picker" readonly name="outDate" formControlName="outDate">
            <mat-error *ngIf="addDiscountForm.controls.outDate.invalid && addDiscountForm.controls.outDate.touched">{{getErrorRequiredMessage()}}</mat-error>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-6 form-item">
          <mat-form-field class="example-full-width">
            <mat-label>قيمة الحسم</mat-label>
            <input matInput name="discountValue" formControlName="discountValue">
            <mat-error *ngIf="addDiscountForm.controls.discountValue.invalid && addDiscountForm.controls.discountValue.touched">{{getErrorRequiredMessage()}}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="d-flex justify-content-center w-75 mb-3 buttons">
        <button type="submit" [disabled]="!addDiscountForm.valid || addDiscountForm.untouched" class="btn t_btn_blue w-25"
          mat-dialog-close>إضافة
        </button>
        <button type="button" class="btn t_btn_blue w-25" mat-dialog-close>إلغاء
        </button>
      </div>
    </form>
  </div>
</div>
