<div class="move-driver-to-city-container">
  <form [formGroup]="moveDriver" (onsubmit)="submit()">
    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>السائق</mat-label>
          <mat-select name="id" formControlName="id">
            <mat-option *ngFor="let item of drivers" [value]="item.id">{{item.firstName}} {{item.lastName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>المحافظة</mat-label>
          <mat-select name="provinceId" formControlName="provinceId" (selectionChange)="getVehicles()">
            <mat-option *ngFor="let item of provinces" [value]="item.id">{{item.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>فئة المركبة</mat-label>
          <mat-select name="vehicleTypeId" formControlName="vehicleTypeId">
            <mat-optgroup *ngFor="let item of calssifications" [label]="item.name">
              <mat-option *ngFor="let item2 of item.vehicles" [value]="item2.id">{{item2.name}}</mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-4">
        <button class="btn t_btn_blue ms-1 me-1 x-font-bold w-100" (click)="submit()">
          حفظ
        </button>
      </div>
    </div>
  </form>
</div>
