@import "./variables.scss";

.jay_taxi_table {
    th,td {
        border: 1px solid $gold-light;
        text-align: center;
        text-align: -webkit-center;
        vertical-align: middle;
    }
    thead {
        color: $blue;
        th {
            border-top: none;
        }
        th:first-child {
            border-right: none;
        }
        th:last-child {
            border-left: none;
        }
    }
    tbody {
        tr:nth-child(2n) {
            background-color: $gold-more-light
        }
        tr {
            td:first-child {
                border-right: none;
            }
            td:last-child {
                border-left: none;
            }
            &:last-child {
                td {
                border-bottom: none;
                }
            }
        }
    }
}