@import "./variables.scss";
@import "./cards.scss";
@import "./buttons.scss";
@import "./fonts.scss";
@import "./mixin.scss";

.bg_grey_light{
    background-color: $grey_light;
}

.grey_light {
    color: $grey_light;
}

.gold{
    color: $gold;
}