@import "./variables.scss";
@import "./cards.scss";
@import "./buttons.scss";
@import "./fonts.scss";
@import "./mixin.scss";

.bg_grey_light {
  background-color: $grey_light;
}

.grey_light {
  color: $grey_light;
}

.gold {
  color: $gold;
}

.bg_grey_active {
  background-color: $grey_active;
}

.red {
  color: $red;
}

.img_div_for_edit {
  .image {
    background-color: $blue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      color: $blue;
      margin: 0;
    }

    mat-icon,
    img {
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 8rem;
      height: 8rem;
      font-size: xxx-large;
      border-radius: 50%;
    }

    .edit-div {
      background-color: $blue;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 25px;
      border-radius: 12.5px;
      position: relative;
      margin-inline-start: -1.5rem;
      margin-top: 5rem;

      .edit-icon {
        font-size: 1em;
        width: 25px;
        height: 25px;
        cursor: pointer;
      }
    }

  }
}


.user-name {
  img {
    max-width: 40px;
    max-height: 40px;
    width: auto;
    height: auto;
  }
}
