$blue : #1f2568;
$white : #fff;
$gold : #ffd609;
$gold-light : #efe9bb;
$gold-more-light : #fdf8e5;
$grey : #ced4da;
$grey_light : #d2d1cd;
$grey_transparent : #d2d1cd29;
$red : #CC5500;
$grey_active : #d9d9d9;
// Material Icons font family
$material_icons: "Material Icons";

// Roboto font family
$cairo_thin: "Cairo-Thin"; // Weight 100
$cairo_thin_italic: "Cairo-Thin-Italic"; // Weight 100 Italic
$cairo_light: "Cairo-Light"; // Weight 300
$cairo_light_italic: "Cairo-Light_Italic"; // Weight 300 Italic
$cairo_regular: "Cairo-Regular"; // Weight 400
$cairo_medium: "Cairo-Medium"; // Weight 500
$cairo_medium_italic: "Cairo-Medium_Italic"; // Weight 500 Italic
$cairo_bold: "Cairo-Bold"; // Weight 700
$cairo_bold_italic: "Cairo-Bold-Italic"; // Weight 700 Italic
$cairo_black: "Cairo-Black"; // Weight 900
$cairo_black_italic: "Cairo-Black-Italic"; // Weight 900 Italic