<div class="row mb-5">
    <div class="col-6 d-flex align-items-center">
        <button class="btn t_btn_blue w-30" (click)="addCity()">
            إضافة محافظة
        </button>
    </div>
</div>
<div class="x-font-regular ">
    <div class="row city-container" *ngFor="let city of cities">
        <div class="col-8 city-pic">
            <img [src]="city.pic" alt="">
        </div>
        <div class="col-4 ">
            <div class="x-font-black text-center">{{city.name}}</div>
            <div class="distance-price d-flex flex-column mt-3">
                <div class="distance-price-header text-center mb-1">كلفة وصول السائق للزبون من أجل المسافات :</div>
                <mat-label class="w-100 second-label">المجال الأول:</mat-label>
                <div class="d-flex justify-content-around">
                    <div>من <span class="rangeValue">{{city.firstValueAtFirstRange}}</span></div>
                    <div>إلى <span class="rangeValue">{{city.secondValueAtFirstRange}}</span></div>
                </div>

                <mat-label class="w-100 second-label mt-3">المجال الثاني:</mat-label>
                <div class="d-flex justify-content-around">
                    <div>من <span class="rangeValue">{{city.secondValueAtFirstRange}}</span></div>
                    <div>إلى <span class="rangeValue">{{city.secondValueAtSecondRange}}</span></div>
                </div>
            </div>
        </div>
    </div>


    <!-- <mat-card>
        <mat-card-content>
            <div class="row">
                <div class="col-lg-4 col-md-6 col sm-12 mb-5">
                    <div class="city-card d-flex flex-column">
                        <div class="img-info">
                            <img src="../../../../assets/img/baghdad.jpg" alt="">
                        </div>
                        <div class="city-name d-flex justify-content-center w-100">
                            <p class="py-3">Baghdad</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col sm-12">
                    <div class="city-card d-flex flex-column">
                        <div class="img-info">
                            <img src="../../../../assets/img/baghdad.jpg" alt="">
                        </div>
                        <div class="city-name d-flex justify-content-center w-100">
                            <p class="py-3">Baghdad</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col sm-12">
                    <div class="city-card d-flex flex-column">
                        <div class="img-info">
                            <img src="../../../../assets/img/baghdad.jpg" alt="">
                        </div>
                        <div class="city-name d-flex justify-content-center w-100">
                            <p class="py-3">Baghdad</p>
                        </div>
                    </div>
                </div>

                 <div class="col-lg-4 col-md-6 col sm-12">
                    <div class="city-card d-flex flex-column">
                        <div class="img-info">
                            <img src="../../../../assets/img/baghdad.jpg" alt="">
                        </div>
                        <div class="city-name d-flex justify-content-center w-100">
                            <p class="py-3">Baghdad</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col sm-12">
                    <div class="city-card d-flex flex-column">
                        <div class="img-info">
                            <img src="../../../../assets/img/baghdad.jpg" alt="">
                        </div>
                        <div class="city-name d-flex justify-content-center w-100">
                            <p class="py-3">Baghdad</p>
                        </div>
                    </div>
                </div> 
            </div>
        </mat-card-content>
    </mat-card> -->
</div>