<div class="row mb-5">
    <div class="col-6 d-flex align-items-center">
        <button class="btn t_btn_blue w-30" (click)="addCity()">
            إضافة  محافظة
        </button>
    </div>
</div>
<div class="x-font-regular ">
    <div class="row">
        <div class="col-12">
            <div class="city">
                <div class="x-font-black">بغداد</div>
            </div>
        </div>
        <div class="col-12 mt-3">
                <div class="city basra">
                    <div class="x-font-black">البصرة</div>
                </div>
            </div>
        <div class="col-12 mt-3">
            <div class="city">
                <div class="x-font-black">الموصل</div>
            </div>
        </div>
       
    </div>
    <!-- <mat-card>
        <mat-card-content>
            <div class="row">
                <div class="col-lg-4 col-md-6 col sm-12 mb-5">
                    <div class="city-card d-flex flex-column">
                        <div class="img-info">
                            <img src="../../../../assets/img/baghdad.jpg" alt="">
                        </div>
                        <div class="city-name d-flex justify-content-center w-100">
                            <p class="py-3">Baghdad</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col sm-12">
                    <div class="city-card d-flex flex-column">
                        <div class="img-info">
                            <img src="../../../../assets/img/baghdad.jpg" alt="">
                        </div>
                        <div class="city-name d-flex justify-content-center w-100">
                            <p class="py-3">Baghdad</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col sm-12">
                    <div class="city-card d-flex flex-column">
                        <div class="img-info">
                            <img src="../../../../assets/img/baghdad.jpg" alt="">
                        </div>
                        <div class="city-name d-flex justify-content-center w-100">
                            <p class="py-3">Baghdad</p>
                        </div>
                    </div>
                </div>

                 <div class="col-lg-4 col-md-6 col sm-12">
                    <div class="city-card d-flex flex-column">
                        <div class="img-info">
                            <img src="../../../../assets/img/baghdad.jpg" alt="">
                        </div>
                        <div class="city-name d-flex justify-content-center w-100">
                            <p class="py-3">Baghdad</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col sm-12">
                    <div class="city-card d-flex flex-column">
                        <div class="img-info">
                            <img src="../../../../assets/img/baghdad.jpg" alt="">
                        </div>
                        <div class="city-name d-flex justify-content-center w-100">
                            <p class="py-3">Baghdad</p>
                        </div>
                    </div>
                </div> 
            </div>
        </mat-card-content>
    </mat-card> -->
</div>