@import 'src/app/shared/styles/variables';

.city-name {
    background-color: $grey_light;
}

.img-info img {
    width: 100%;
}

.city-name p {
    color: $blue;
    font-weight: 600;
    font-size: 1.2rem;
}
