@import 'src/app/shared/styles/variables';

.city-name {
  background-color: $grey_light;
}

.img-info img {
  width: 100%;
}

.city-name p {
  color: $blue;
  font-weight: 600;
  font-size: 1.2rem;
}

.city-pic img{
  max-width: 20rem;
  max-height: 20rem;
  height: auto;
  width: auto;
}

.distance-price-header {
  color: $blue;
  font-weight: 600;
  font-size: 1.1rem;
}

.second-label {
  color: $blue;
  font-weight: 500;
  font-size: 1rem;
}

.rangeValue {
  font-weight: 600;
  color: #333;
  font-size: 1.2rem;
  margin-right: 1rem;
}
/*
.city-container:nth-child(2n+1) {
  display: flex;
  flex-direction: row-reverse;
}*/

.city-container:not(:first-child) {
  margin-top: 3rem;
}

.city {
  background-image: url('/assets/img/baghdad.png');

  &.basra {
    background-image: url('/assets/img/basra.png');
  }

  height: 150px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    font-size: 3em;
    color: white;
    background-color: #3336;
    padding: 0 2rem;
  }
}
