
.head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-container .button-div,
.head-container .form-div{
    width: 30%;
} 

.head-container mat-form-field {
    width: 30%;
}

table {
    width: 100%;
    text-align: center !important;
}

.mat-mdc-form-field {
    font-size: var(--small-font-size);
    width: 100%;
}

ng-container {
    text-align: center !important;
}

th {
    font-weight: 800 !important;
    font-size: var(--meduim-font-size);
    color:var(--title-color);
}

td {
    font-size: var(--small-font-size);
    color:var(--main-color);
}

td,
th {
    width: calc(100% / 6);
    text-align: center !important;
}

.mat-mdc-row{
    padding :1rem !important;
}

.mat-mdc-row:hover {
    background-color: var(--second-bg-color) !important;
}

.delete {
    background-color: var(--main-bg-color) !important;
    padding:0.4rem 1rem;
    font-size: var(--small-font-size);
    color: #fff !important;
    border:none;
    border-radius: 5px;
}

.deleteButton {
    background-color: var(--main-bg-color) !important;
    padding:0.1rem 1rem;
    font-size: var(--small-font-size);
    color: #fff !important;
    border:none;
    border-radius: 5px;
}

mat-icon {
    color: var(--main-bg-color);
}
.paginator {
    display: flex;
    justify-content: center !important;
}

.discount-button {
    padding:1rem 0.5rem;
    margin-bottom: 1rem !important;
    color: #fff;
    font-size: var(--large-font-size);
    font-weight: var(--large-font-weight);
}

.btn-primary {
    background-color: var(--main-bg-color);
    border-radius: 25px !important;
    padding:0.5rem 1.5rem !important;
    margin-bottom: 1rem !important;
    font-size: 1rem !important;
    font-weight: 500 !important;
}

.user-img {
    display: flex;
    justify-content: center;
}

.user-img img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.modal-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding:1rem 2rem 0;
}

.form-item {
    width:45%;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

mat-form-field {
    width: 100% !important;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.buttons .btn-primary {
    width:30% !important;
}

.cancle {
    background-color: #eee !important;
    color: #222;
}