<div class="driver_profile_personal_info x-font-regular">
  <form [formGroup]="driverProfile">
    <div class="first_sec row w-100">
      <div
        class="col-lg-2 col-md-2 col-sm-12 col-12 mb-lg-0 mb-md-0 mb-3 d-flex flex-column align-items-center justify-content-center">
        <div class="img_div_for_edit">
          <div class="image">
            <img *ngIf="imageFile" [src]="imageFile">
            <mat-icon *ngIf="!imageFile">person</mat-icon>
            <div class="edit-div" (click)="fileInput.click()">
              <mat-icon class="edit-icon">edit</mat-icon>
            </div>
            <input #fileInput type="file" (change)="onFileInput(fileInput.files)" accept="image/*"
              style="display:none;" />
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12 col-12">
        <mat-form-field>
          <mat-label>اسم السائق</mat-label>
          <input matInput formControlName="firstName" placeholder="اسم السائق" #input>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>الجنس</mat-label>
          <mat-select name="status" formControlName="gender">
            <mat-option value="1">ذكر</mat-option>
            <mat-option value="2">أنثى</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12 col-12">
        <mat-form-field>
          <mat-label>كنية السائق</mat-label>
          <input matInput formControlName="lastName" placeholder="كنية السائق" #input>
        </mat-form-field>
        <mat-form-field>
          <mat-label>رقم الموبايل</mat-label>
          <input [disabled]="true" formControlName="phoneNumber" matInput placeholder="رقم الموبايل" #input>
        </mat-form-field>
      </div>
    </div>
    <div class="sec_sec row w-100">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <mat-form-field appearance="fill">
          <mat-label>المحافظة</mat-label>
          <mat-select name="provinceId" formControlName="provinceId">
            <mat-option value="1">بغداد</mat-option>
            <mat-option value="2">البصرة</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <mat-form-field>
          <mat-label>رقم الموبايل الاحتياطي</mat-label>
          <input matInput placeholder="رقم الموبايل الاحتياطي" #input>
        </mat-form-field>
      </div>
    </div>
    <div class="third_sec row w-100 mt-3">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <app-upload-image path="/assets/img/temp/id1.png" (imageObject)="setIdImage($event)"
          label="صورة الهوية (الوجه الأمامي)"></app-upload-image>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <app-upload-image path="/assets/img/temp/driving2.png" label="صورة رخصة القيادة (الوجه الأمامي)">
        </app-upload-image>
      </div>
    </div>
    <div class="fourth_sec row w-100 mt-3">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <app-upload-image path="/assets/img/temp/id2.jpg" label="صورة الهوية (الوجه الخلفي)"></app-upload-image>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <app-upload-image path="/assets/img/temp/driving.jpg" label="صورة رخصة القيادة (الوجه الخلفي)">
        </app-upload-image>
      </div>
    </div>
  </form>
  <img [src]="temp">
</div>
