@import 'src/app/shared/styles/variables';
@import 'src/app/shared/styles/functions';

.driver_profile_personal_info {

    form {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
  .save_btn{
      margin-top: 2rem;
  }
}

::ng-deep .driver_profile_personal_info {
    mat-form-field {
        width: 100%;
    }
}