.forms {
    display: flex;
    justify-content: space-between;
}

.right ,
.left {
    width:50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.form-item {
    width:70%;
    height: 4.5rem;
    display: flex;
    justify-content: center;
}

mat-form-field {
    width: 100% !important;
}

.buttons {
    margin: 1rem auto;
    gap: 2rem;
}
