<div class="forms x-font-regular ">
  <form (ngSubmit)="onSubmit()" #myForm="ngForm" class="d-flex flex-wrap">
    <div class="row">
      <div class="form-item col-4">
        <mat-form-field appearance="fill">
          <mat-label>السائقين</mat-label>
          <mat-select name="driversList" ngModel required #driversList="ngModel">
            <mat-option value="one">السائق الأول</mat-option>
            <mat-option value="two">السائق الثاني</mat-option>
          </mat-select>
          <mat-error *ngIf="driversList.invalid && driversList.touched">{{getErrorRequiredMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="form-item col-4">
        <mat-form-field appearance="fill">
          <mat-label>حالة الرحلة</mat-label>
          <mat-select name="driversList">
            <mat-option value="one">مؤكدة</mat-option>
            <mat-option value="two">منتهية</mat-option>
            <mat-option value="three">ملغية</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-item col-4">
        <mat-form-field appearance="fill">
          <mat-label>تاريخ الرحلة</mat-label>
          <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="Start date">
            <input matEndDate formControlName="end" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>

          <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
          <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
        </mat-form-field>
      </div>
      <div class="form-item col-4">
        <mat-form-field appearance="fill">
          <mat-label>نوع الرحلة</mat-label>
          <mat-select name="tripType" ngModel required #tripType="ngModel">
            <mat-option value="one">النوع الأول</mat-option>
            <mat-option value="two">النوع الثاني</mat-option>
          </mat-select>
          <mat-error *ngIf="tripType.invalid && tripType.touched">{{getErrorRequiredMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="form-item col-4">
        <mat-form-field>
          <mat-label>اسم الزبون</mat-label>
          <input matInput placeholder="اسم الزبون" #input>
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="w-75 d-flex justify-content-center mx-auto buttons x-font-regular ">
      <button type="submit" [disabled]="!myForm.valid || myForm.untouched"
        class="btn t_btn_blue_outline w-25">بحث</button>
      <button class="btn t_btn_blue_outline w-25">مسح بيانات</button>
    </div>
  </form>
</div>


<div class="jay_taxi_table">
  <div class="table_div d-flex flex-column align-items-center">
    <table class="table">
      <thead class="x-font-bold">
        <th>اسم السائق</th>
        <th>اسم الزبون </th>
        <th>حالة الرحلة</th>
        <th> نوع الرحلة</th>
        <th>تاريخ الرحلة </th>
        <th>وقت الرحلة </th>
        <th>كلفة الرحلة </th>
        <th>عرض الرحلة</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of trips">
          <td>{{item.driverName}}</td>
          <td>{{item.clientName}}</td>
          <td>{{item.tripState}}</td>
          <td>{{item.tripType}}</td>
          <td>{{item.tripDate}}</td>
          <td>{{item.tripTime}}</td>
          <td>{{item.tripCost}}</td>
          <td>
              <mat-icon [routerLink]="['/trip-details']" (click)="onClick(item)"
              routerLinkActive="router-link-active" class="removed-eye cursor">remove_red_eye</mat-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="load_more_div w-100 d-flex flex-column align-items-center x-font-bold">
  <button class="btn t_btn_blue_outline w-25" (click)="loadMore()">
    تحميل المزيد
  </button>
</div>
