<mat-card class="x-font-regular">
    <mat-card-header>
        <div class="title x-font-bold">{{title}}</div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <table class="styled-table">
        <thead>
            <tr>
                <th>اليوم</th>
                <th>البارحة</th>
                <th>آخر سبع أيام</th>
                <th>الشهر الحالي</th>
                <th>الشهر الماضي</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>0.0</td>
                <td>0.0</td>
                <td>0.0</td>
                <td>0.0</td>
                <td>1.245.654</td>
            </tr>
        </tbody>
    </table>
</mat-card>