/* You can add global styles to this file, and also import other style files */
@import "src/app/shared/styles/styles.scss";
@import "@angular/material/prebuilt-themes/indigo-pink.css";  

:root {
  --large-font-size: 1.25rem;
  --meduim-font-size: 1.1rem;
  --small-font-size: 0.9rem;

  --large-font-weight: 600;
  --small-font-weight: 500;

  --main-bg-color: #1f2568;
  --second-bg-color: #eee;
  --side-bg-color: #fffcf4;

  --main-color: #222;
  --title-color: #000000b0;
  --gold-color: #ffd609;

}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $cairo_regular;
  @include scroll {
    -webkit-appearance: none;
    width: 15px;
    height: 7px;
  }

  @include scroll_thumb {
    background-color: $blue;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
}

a {
  margin: 0;
  text-decoration: none;
  color: var(--main-color);
}

mat-form-field {
    div,input,span,label,p {
    font-family: $cairo_regular !important;
    }
}

.mat-icon {
  font-family: $material_icons !important;
}

.cursor {
  cursor: pointer;
}


