<div class="w-100 d-flex justify-content-end">
    <button class="activateButton" routerLink="/vehicle-classification"
        mat-raised-button><mat-icon>arrow_back</mat-icon></button>
</div>

<div class="class-header x-font-regular ">
    <h2>عرض التصنيف</h2>
    <div class="user-img">
        <img src="../../../assets/img/user.png" alt="user image">
    </div>
</div>

<div class="d-flex justify-content-center mt-4 mb-3 x-font-regular ">
    <div class="w-25 d-flex flex-column justify-content-center">
        <div class="w-100 d-flex justify-content-center mb-3 input-lable">
            <span>اسم التصنيف</span>
        </div>
        <div class="w-100 d-flex justify-content-center input-value">
            <span>Comfort</span>
        </div>
    </div>
    <div class="w-25 d-flex flex-column justify-content-center">
        <div class="w-100 d-flex justify-content-center mb-3 input-lable">
            <span>عدد المقاعد</span>
        </div>
        <div class="w-100 d-flex justify-content-center input-value">
            <span>4</span>
        </div>
    </div>
    <div class="w-25 d-flex flex-column justify-content-center">
        <div class="w-100 d-flex justify-content-center mb-3 input-lable">
            <span>نسبة السائق</span>
        </div>
        <div class="w-100 d-flex justify-content-center input-value">
            <span>10</span>
        </div>
    </div>
</div>

<div class="d-flex justify-content-between mt-5 x-font-regular ">
    <div class="w-30 d-flex flex-column day-rent-container">
        <h2 class="rent-header text-center">الأجور خلال الصباح</h2>
        <div class="d-flex flex-column rent-content">
            <div class="d-flex flex-column mb-4">
                <div class="lable mb-3">
                    <span>أقل أجرة</span>
                </div>
                <div class="lable-value">
                    <span>3500</span>
                </div>
            </div>
            <div class="d-flex flex-column mb-4">
                <div class="lable mb-3">
                    <span>الضريبة</span>
                </div>
                <div class="lable-value">
                    <span>50</span>
                </div>
            </div>
            <div class="d-flex flex-column mb-4">
                <div class="lable mb-3">
                    <span>1/Km</span>
                </div>
                <div class="lable-value">
                    <span>100</span>
                </div>
            </div>
            <div class="d-flex flex-column mb-4">
                <div class="lable mb-3">
                    <span>10/m</span>
                </div>
                <div class="lable-value">
                    <span>3000</span>
                </div>
            </div>
            <div class="d-flex flex-column mb-4">
                <div class="lable mb-3">
                    <span>وقت ابتداء الفترة الصباحية</span>
                </div>
                <div class="lable-value">
                    <span>07:00 AM</span>
                </div>
            </div>
            <div class="d-flex flex-column mb-4">
                <div class="lable mb-3">
                    <span>وقت انتهاء الفترة الصباحية</span>
                </div>
                <div class="lable-value">
                    <span>05:00 PM</span>
                </div>
            </div>
        </div>
    </div>

    <div class="w-30 d-flex flex-column day-rent-container">
        <h2 class="rent-header text-center">الأجور خلال النهار</h2>
        <div class="d-flex flex-column rent-content">
            <div class="d-flex flex-column mb-4">
                <div class="lable mb-3">
                    <span>أقل أجرة</span>
                </div>
                <div class="lable-value">
                    <span>3500</span>
                </div>
            </div>
            <div class="d-flex flex-column mb-4">
                <div class="lable mb-3">
                    <span>الضريبة</span>
                </div>
                <div class="lable-value">
                    <span>50</span>
                </div>
            </div>
            <div class="d-flex flex-column mb-4">
                <div class="lable mb-3">
                    <span>1/Km</span>
                </div>
                <div class="lable-value">
                    <span>100</span>
                </div>
            </div>
            <div class="d-flex flex-column mb-4">
                <div class="lable mb-3">
                    <span>10/m</span>
                </div>
                <div class="lable-value">
                    <span>3000</span>
                </div>
            </div>
            <div class="d-flex flex-column mb-4">
                <div class="lable mb-3">
                    <span>وقت ابتداء الفترة النهارية</span>
                </div>
                <div class="lable-value">
                    <span>07:00 AM</span>
                </div>
            </div>
            <div class="d-flex flex-column mb-4">
                <div class="lable mb-3">
                    <span>وقت انتهاء الفترة النهارية</span>
                </div>
                <div class="lable-value">
                    <span>05:00 PM</span>
                </div>
            </div>
        </div>
    </div>

    <div class="w-30 d-flex flex-column day-rent-container x-font-regular ">
        <h2 class="rent-header text-center">الأجور خلال الليل</h2>
        <div class="d-flex flex-column rent-content">
            <div class="d-flex flex-column mb-4">
                <div class="lable mb-3">
                    <span>أقل أجرة</span>
                </div>
                <div class="lable-value">
                    <span>3500</span>
                </div>
            </div>
            <div class="d-flex flex-column mb-4">
                <div class="lable mb-3">
                    <span>الضريبة</span>
                </div>
                <div class="lable-value">
                    <span>50</span>
                </div>
            </div>
            <div class="d-flex flex-column mb-4">
                <div class="lable mb-3">
                    <span>100/m</span>
                </div>
                <div class="lable-value">
                    <span>100</span>
                </div>
            </div>
            <div class="d-flex flex-column mb-4">
                <div class="lable mb-3">
                    <span>100/Km</span>
                </div>
                <div class="lable-value">
                    <span>3000</span>
                </div>
            </div>
            <div class="d-flex flex-column mb-4">
                <div class="lable mb-3">
                    <span>وقت ابتداء الفترة المسائية</span>
                </div>
                <div class="lable-value">
                    <span>05:00 PM</span>
                </div>
            </div>
            <div class="d-flex flex-column mb-4">
                <div class="lable mb-3">
                    <span>وقت انتهاء الفترة المسائية</span>
                </div>
                <div class="lable-value">
                    <span>11:00 PM</span>
                </div>
            </div>
        </div>
    </div>