<div class="row">
  <div class="col-6 d-flex align-items-center mb-4">
    <button class="btn t_btn_blue w-30" (click)="addNewService()">
      إضافة خدمة جديدة +
    </button>
  </div>
</div>

<div class="d-flex justify-content-between row">
  <div class="d-flex align-items-center justify-content-center flex-column col-3 ms-auto me-auto" *ngFor="let service of services">
    <div class="card w-100 d-flex align-items-center justify-content-center">
      <div class="card-img-div">
        <img class="card-img-top" [src]="service.image" alt="Card image cap">
      </div>
      <div class="card-body">
        <h4 class="text-center">{{service.name}}</h4>
      </div>
    </div>
    <!-- <div class="mt-2">
        <mat-icon>delete</mat-icon>
        <mat-icon>edit</mat-icon>
    </div> -->
  </div>

</div>
