<div class="row">
  <div class="col-6 d-flex align-items-center mb-4">
    <button class="btn t_btn_blue w-30" (click)="addNewService()">
      إضافة خدمة جديدة +
    </button>
  </div>
</div>

<div class="d-flex justify-content-between row">
  <div class="d-flex align-items-center justify-content-center flex-column col-3 ms-auto me-auto"
    *ngFor="let service of services">
    <div class="card w-100 d-flex align-items-center justify-content-center mb-4">
      <div class="card-img-div position-relative">
        <img class="card-img-top" [src]="service.imageUrl" alt="Card image cap">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" style=" position: absolute;
          z-index: 1000;
          top: -0.8rem;
          right: 0;
          font-size: 22px;
          margin-bottom: 0.5rem;">
          <mat-icon>more_vert</mat-icon>
        </button>

      </div>
      <div class="card-body">
        <h4 class="text-center">{{service.name}}</h4>
        <p class="text-center">{{service.description}}</p>
      </div>
    </div>
    <!-- <div class="mt-2">
        <mat-icon>delete</mat-icon>
        <mat-icon>edit</mat-icon>
    </div> -->

    <mat-menu #menu="matMenu">
      <button mat-menu-item color="primary" (click)="delete(service.id)">
        <mat-icon style="color: red;">delete</mat-icon>
        <span style="color: red;">حذف</span>
      </button>
    </mat-menu>
  </div>

</div>