<div class="row">
    <div class="col-6 d-flex align-items-center mb-4">
        <button class="btn t_btn_blue w-30" (click)="addNewService()">
            إضافة حساب جديد +
        </button>
    </div>
</div>

<div class="d-flex justify-content-between">
    <div class="card col-4" *ngFor="let service of services" style="width: 18rem;">
        <img class="card-img-top mt-1" [src]="service.image" alt="Card image cap">
        <div class="card-body">
            <h4 class="text-center mt-4">{{service.name}}</h4>
        </div>
    </div>
</div>